{% macro render_field(field, label=None) %}
  {% if not kwargs['hidden'] %}
    <dt class="field-label">{{ label or field.label }}</dt>
    <dd>
      {% if field.errors %}
        {% for error in field.errors %}
          <p class="form-error">{{ error }}</p>
        {% endfor %}
      {% endif %}
      {{ field(**kwargs)|safe }}
    </dd>
  {% else %}
    {{ field(**kwargs)|safe }}
  {% endif %}
{% endmacro %}

{% macro render_pagination(request, paginator) %}
  {% if paginator.pages > 1 %}
    {% if paginator.border_url(request, True) %}
      <a href="{{ paginator.border_url(request, True)[0] }}">{{ paginator.border_url(request, True)[1] }}</a> ...
    {% endif %}
    {% for page in paginator.get_urls(request) %}
      {% if page[1] != paginator.page %} {# no url for current page #}
        <a href="{{ page[0] }}">{{ page[1] }}</a>
      {% else %}
        {{ page[1] }}
      {% endif %}
    {% endfor %}
    {% if paginator.border_url(request, False) %}
      ... <a href="{{ paginator.border_url(request, False)[0] }}">{{ paginator.border_url(request, False)[1] }}</a>
    {% endif %}
  {% endif %}
{% endmacro %}
