{% extends "layout.html" %}
{% block title %}API for Coprs{% endblock %}
{% block header %}API for the Coprs Build System{% endblock %}
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}

  <div>
    <h2>Coprs API</h2>

    <h3> API Token </h3>
    <p>In order to access the API, you will need to provide an API token.
    This token is unique, specific to you and <span style="font-weight:bold;">
    should not be shared!</span>.
    </p>

    <p>The API token is valid for 30 days after you generated it, this
    in order to ensure you are you every 30 days.
    </p>

    {% if g.user %}
    <p>Your information:</p>
    <pre style="font-size:120%">
    API token       :   {{ g.user.api_token }}
    Expiration date :   {{ g.user.api_token_expiration }}
    </pre>

    <a href="{{ url_for('api_ns.api_new_token') }}">
        <input type="button" value="Generate a new token" />
    </a>
    {% else %}
    <p style="font-style:italic">You need to be logged in to see you API token.</p>
    {% endif %}

    <h3>The API</h3>

    <h4>List someone's copr</h4>

    <p>To list the coprs owned by someone one argument is required:</p>
    <table>
        <tr>
            <th>name</th> <td>The name of the user you would to list the
                copr of.</td>
        </tr>
    </table>
    <p>URL will therefore look like:</p>
    <pre style="font-size:120%">
    /list/&lt;username&gt;/
    </pre>

    <h4>Add a new copr</h4>

    <p><span style="font-style:italic">Login required</span></p>

    <p>To add a new copr some informations are required:</p>
    <table>
        <tr>
            <th>name</th> <td>The name of the copr to create.</td>
        </tr><tr>
            <th>chroots</th> <td>A comma separated list of chroots to
                use in the copr.</td>
        </tr><tr>
            <th>repos</th> <td>A comma separated list of repositories
                that this new copr should have access to.</td>
        </tr><tr>
            <th>initial_pkgs</th> <td>A comma separated list of initial
                packages to build in this new copr.</td>
        </tr>
    </table>

    <p>URL will therefore look like:</p>
    <pre style="font-size:120%">
    /add/&lt;name&gt;/&lt;chroots&gt;/
    /add/&lt;name&gt;/&lt;chroots&gt;/&lt;repos&gt;/
    /add/&lt;name&gt;/&lt;chroots&gt;/&lt;repos&gt;/&lt;initial_pkgs&gt;/
    </pre>


    <p>To come here, more information about the API itself.</p>

  </div>
{% endblock %}
