<!doctype html>
<html>
<head>
  <title>{% block title %}Coprs Build System{% endblock %}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='copr.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='copr.js') }}"></script>
</head>
<body>
<div class="menu">
  <div class="menu-inner">
    <a href="{{ url_for('coprs_ns.coprs_show') }}"><img id="logo" src="{{ url_for('static', filename='copr_logo.png') }}" alt="Copr Build System"></a>
    <div class="login">
      {% if g.user %}
        <div><span class="text">logged in as </span><a href="https://admin.fedoraproject.org/accounts/user/view/{{ g.user.name }}">{{ g.user.name }}</a> | <a href="{{ url_for('misc.logout') }}">log out</a></div>
      {% else %}
        <div><a href="{{ url_for('misc.login') }}">log in</a> | <a href="https://admin.fedoraproject.org/accounts/user/new">sign up</a></div>
      {% endif %}
      <form method="get" action="{{ url_for('coprs_ns.coprs_fulltext_search') }}">
        <input class="rounded" type="text" name="fulltext">
	<input class="fulltext-submit" type="submit" value="search">
      </form>
    </div>
  </div>
</div>
<div class="page">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}  
  <div class="page-inner">
    {% block body %}{% endblock %}
  </div>
</div>
<div class="footer">
<p>
  <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  <a href="https://fedorahosted.org/copr/">Copr Project</a>
  <a href="https://fedorahosted.org/copr/wiki/UserDocs#FAQ">FAQ</a>
  <a class="last" href="{{ url_for('api_ns.api_home') }}">API</a>
</p>
</div>
</body>
</html>
