<!doctype html>
<html>
<head>
  <title>{% block title %}Coprs Build System{% endblock %}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style-new.css') }}">
</head>
<body>
<div class="menu">
  <div class="menu-inner">
    <a href="/"><img id="logo" src="{{ url_for('static', filename='copr_logo.png') }}" alt="Copr Build System"></a>
    <div class="login">
      {% if g.user %}
        <span class="text">logged in as </span>{{ g.user.name }}
      {% else %}
        <div><a href="{{ url_for('misc.login') }}">log in</a></div>
        <input class="rounded" type="text" name="search_text">
      {% endif %}
    </div>
  </div>
</div>
<div class="page">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}  
  <div class="page-inner">
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
