[dist-git]
git_author_name  = Copr Dist Git
git_author_email = <copr-devel@lists.fedoraproject.org>

cache_dir   = /var/lib/dist-git/cache
gitroot_dir = /var/lib/dist-git/git
#this is difference from standard config!
git_gc_depth   = 3

gitolite    = False
