{% extends "coprs/detail.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_form_rebuild with context %}

{% block new_build_rebuild_selected %}active{% endblock %}

{%block project_breadcrumb %}
<li>
  <a href="{{ url_for('coprs_ns.copr_builds', username=copr.owner.name, coprname=copr.name) }}">Builds</a>
</li>
<li>
  <a href="{{url_for("coprs_ns.copr_build", username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id)}}">
  {{build.id}}
  </a>
</li>
<li class="active">
  resubmit
</li>
{%endblock%}


{% block detail_body %}
<div class="row">
  <div class="col-sm-12">
    <h2> Resubmit build {{ build.id }}  </h2>
    <p> Resubmitting a build will rebuild the same sources again. </p>
    {{ copr_build_form_rebuild(form, 'coprs_ns.copr_new_build_rebuild', copr, build) }}
  </div>
</div>
{% endblock %}
