{% extends "coprs/detail.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_form_rebuild with context %}
{% from "coprs/detail/_describe_source.html" import describe_source %}

{% set add_build_tab = "rebuild" %}

{%block project_breadcrumb %}
<li>
  <a href="{{ url_for('coprs_ns.copr_builds', username=copr.owner.name, coprname=copr.name) }}">Builds</a>
</li>
<li>
  <a href="{{url_for("coprs_ns.copr_build", username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id)}}">
  {{build.id}}
  </a>
</li>
<li class="active">
  resubmit
</li>
{%endblock%}


{% block detail_body %}
<div class="row">
  <div class="col-sm-12">
    <h2> Resubmit build {{ build.id }}  </h2>
    <p> Resubmitting a build will rebuild the same sources again. </p>


    <h3> Original Build Details </h3>
    <dl class="dl-horizontal">
      <dt> Package:</dt>
      <dd>
        {% if build.package %}
          <a href="{{url_for('coprs_ns.copr_package', username=build.copr.owner.name, package_name=build.package.name, coprname=copr.name)}}">
            {{ build.package.name }}
          </a>
        {% else %}
             -
        {% endif %}
      </dd>
      <dt> Version:</dt>
      <dd>
        {% if build.pkg_version %}
            {{ build.pkg_version}}
        {% else %}
             -
        {% endif %}
      </dd>
      {{ describe_source(build) }}
    </dl>
    <h3> New Build Options </h3>
    {{ copr_build_form_rebuild(form, view, copr, build) }}
  </div>
</div>
{% endblock %}
