{% extends "coprs/detail.html" %}
{% from "_helpers.html" import build_href, package_href %}
{% from "coprs/detail/_builds_forms.html" import copr_build_form_rebuild with context %}
{% from "coprs/detail/_describe_source.html" import describe_source %}

{% set add_build_tab = "rebuild" %}

{%block project_breadcrumb %}
<li>
  <a href="{{ url_builds }}">Builds</a>
</li>
<li>
  <a href="{{ build_href(build) }}">
  {{build.id}}
  </a>
</li>
<li class="active">
  Resubmit
</li>
{%endblock%}


{% block detail_body %}
<div class="row">
  <div class="col-sm-12">
    <h2> Resubmit build {{ build.id }}  </h2>
    <p> Resubmitting a build will rebuild the same sources again. </p>
    <h3> Original Build Details </h3>
    <dl class="dl-horizontal">
      <dt> Package:</dt>
      <dd>
        {% if build.package %}
          <a href="{{ package_href(build.package) }}">
            {{ build.package.name }}
          </a>
        {% else %}
             -
        {% endif %}
      </dd>
      <dt> Version:</dt>
      <dd>
        {% if build.pkg_version %}
            {{ build.pkg_version}}
        {% else %}
             -
        {% endif %}
      </dd>
      {{ describe_source(build.source_type_text, build.source_json_dict) }}
    </dl>
    <h3> New Build Options </h3>
    {{ copr_build_form_rebuild(form, 'coprs_ns.copr_new_build_rebuild', copr, build) }}
  </div>
</div>
{% endblock %}
