{% extends "coprs/detail/add_build.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_form_tito with context %}

{% set add_build_tab = "tito" %}

{%block project_breadcrumb %}
{{ super() }}
<li>
  From Git Using Tito
</li>
{%endblock%}

{% block build_form %}
<h2> New Build <small>From a Git Repository Using Tito</small></h2>
<p> Provide a URL of a Git repository. You can optionally specify a directory within that repository and Git branch. You can also choose to build from the last commit instead of the last release.</p>

  {{ copr_build_form_tito(form, view, copr) }}

{% endblock %}
