{% extends "coprs/detail/add_build.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_form_url with context %}

{% block new_build_url_selected %}active{% endblock %}
{%block project_breadcrumb_new_build %}
<li>
  From URLs
</li>
{%endblock%}

{% block build_form %}
<h3> Build From URL of a SRPM Package</h3>
<p> Provide an external URL link to the package you want to build. You can provide more than one URL.

  {{ copr_build_form_url(form, 'coprs_ns.copr_new_build', copr) }}

{% endblock %}
