[Unit]
Description=Run copr builds on pagure commits

[Service]
User=copr-fe
Group=copr-fe
Environment="PYTHONPATH=/usr/share/copr/"
ExecStart=/usr/bin/python3 /usr/share/copr/coprs_frontend/run/build_on_pagure_commit.py

[Install]
WantedBy=multi-user.target
