Flask
Flask-OpenID
Flask-SQLAlchemy
Flask-WTF
flask-whooshee
pytest
pytest-cov
blinker
pytz
markdown
pyLibravatar
pydns # pyLibravatar uses this
python-dateutil
netaddr
alembic
flask-restful
marshmallow
redis
python-openid-teams
requests
psycopg2
# flask-restful-swagger # -- nice to have, but probably later
decorator
flexmock
mock
