Flask==0.10.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-WTF==0.10.0
flask-whooshee==0.0.7
pytest==2.7.3
pytest-cov==1.6
blinker==1.3
pytz==2015.7
Markdown==2.6.2
pyLibravatar==1.6
pydns==2.3.6 # pyLibravatar uses this
python-dateutil==2.4.2
netaddr==0.7.18
alembic==0.8.3
Flask-RESTful==0.3.4
marshmallow==2.0.0b5
redis==2.10.3
python-openid-teams==1.1
requests==2.9.1
psycopg2==2.6.1
decorator==3.4.2
flexmock==0.9.7
mock==1.0.1
