"""
Example configuration file for stomp message bus.
"""

bus_type = 'stomp'
bus_id = 'ci_message_bus'
bus_publish_retries = 5

# we use python-stomppy, see it's documentation for more info
hosts = [
    ('bus1.example.com', '61613'),
    ('bus2.example.com', '61613'),
]

auth = {
    # optional if Client certificate is used
    'username': 'jenkins',
    'password': 'johnHolmes',

    # client certificate items
    'ssl_key': '/my/auth.key',
    'ssl_crt': '/my/auth.crt',
}

# CA that signed our client key (optional)
cacert = '/etc/pki/ca-trust/source/anchors/company-ca.crt'

# topic we want to write to on the bus (stomppy syntax)
destination = "/topic/copr"

# vi: ft=python
