"""
Example configuration file for message bus.
"""

bus_id = 'ci_message_bus'

host = 'bus.example.com'
port = '61613'

auth = {
    'username': 'jenkins',
    'password': 'johnHolmes',
}

# Put arbitrary message headers here.  E.g. you can identify your
# staging/production copr instance.

headers = {
    'CI_TYPE': 'copr-service',
    'copr_instance': 'development',
}

destination = "/topic/CI"

# Define message templates.  Each message is identified by "key" (e.g.
# 'build.start') and contains "key/value" pairs, while "values" are subject of
# string substitution at the time message is generated.  Available substitutions
# are:
#   'user' (submitter), 'copr', 'owner', 'pkg', 'build' (id), 'chroot',
#   'version' (pkg), 'ip' (of builder), 'who' (process name), 'pid' (of builder
#   process), 'status' (status ID, see class BuildStatus), 'status_str'
#   (user readable status)

messages = {
    'build.start': {
        'package': '{pkg}-{version}',
        'chroot': '{chroot}',
        'user': '{user}',
    },
    'build.end': {
        'package': '{pkg}-{version}',
        'chroot': '{chroot}',
        'user': '{user}',
    },
    'chroot.start': {
        'chroot': "{chroot}",
    },
}

# vi: ft=python
