"""
Example configuration file for IT Managed Kafka message bus.
"""

bus_type = 'kafka'

# we use python3-kafka, see it's documentation for more info
hosts = [
    'b-1.example.kafka.us-east-1.amazonaws.com:9096',
    'b-2.example.kafka.us-east-1.amazonaws.com:9096',
]

auth = {
    'username': 'copr-backend_sandbox',
    'password': 'CHANGEME',
}

destination = 'dev.copr.build-events'

# vi: ft=python
