"""
Example configuration file for message bus.
"""

bus_id = 'ci_message_bus'

# we use python-stomppy, see it's documentation for more info
hosts = [
    ('bus1.example.com', '61613'),
    ('bus2.example.com', '61613'),
]

auth = {
    # optional if Client certificate is used
    'username': 'jenkins',
    'password': 'johnHolmes',

    # client certificate items
    'ssl_key': '/my/auth.key',
    'ssl_crt': '/my/auth.crt',
}

# CA that signed our client key (optional)
cacert = '/etc/pki/ca-trust/source/anchors/my-company.crt'

# headers which should be present in each message
headers = {
    'CI_TYPE': 'copr-service',
    'copr_instance': 'development',
}

# topic we want to write to on the bus (stomppy syntax)
destination = "/topic/copr"

# Define message templates.  Each message is identified by "key" (e.g.
# 'build.start') and contains "key/value" pairs, while "values" are subject of
# string substitution at the time message is generated.  Available substitutions
# are:
#   'user' (submitter), 'copr', 'owner', 'pkg', 'build' (id), 'chroot',
#   'version' (pkg), 'ip' (of builder), 'who' (process name), 'pid' (of builder
#   process), 'status' (status ID, see class BuildStatus), 'status_str'
#   (user readable status)

messages = {
    'build.start': {
        'package': '{pkg}-{version}',
        'chroot': '{chroot}',
        'user': '{user}',
    },
    'build.end': {
        'package': '{pkg}-{version}',
        'chroot': '{chroot}',
        'user': '{user}',
    },
    'chroot.start': {
        'chroot': "{chroot}",
    },
}

# vi: ft=python
