{% from "coprs/detail/_builds_forms.html" import copr_build_cancel_form, copr_build_repeat_form %}

{% macro builds_table(builds) %}
  {% if builds %}
    <table class="builds-table">
      <tr>
        <th>Id</th>
        <th>Submitted on</th>
        <th>Submitted by</th>
        <th>Started on</th>
        <th>Ended on</th>
        <th>State</th>
      </tr>
    {% for build in builds %}
      <tr class="build-{{ build.state }}">
        <td>{{ build.id }}</td>
        <td>{{ build.submitted_on|date_from_secs }}</td>
        <td>{{ build.user.name }}</td>
        <td>{{ build.started_on|date_from_secs or 'Not yet' }}</td>
        <td>{{ build.ended_on|date_from_secs or 'Not yet' }}</td>
        <td>{{ build.state }}</td>
      </tr>
      <tr class="details">
        <td colspan=6 class="end">
          <div>
          {% if g.user and g.user == build.user %}
            {{ copr_build_cancel_form(build) }}
          {% endif %}
          {% if g.user and g.user.can_build_in(copr) %}
            {{ copr_build_repeat_form(build) }}
          {% endif %}
          <div>
            {% if build.results %}
              <h2>Results: </h2><a href="{{ build.results }}">{{ build.results }}</a>
            {% else %}
              <h2>No results yet.</h2>
            {% endif %}
          <div>
          <h2>Package URLs:</h2>
          <div class="pkg-url-list">{% if build.pkgs is not none %}{% for pkg in build.pkgs.split() %}<a href="{{ pkg }}">{{ pkg }}</a>
{% endfor %}{% endif %}</div>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h3>No builds so far</h3>
  {% endif %}
{% endmacro %}
