{% from "coprs/detail/_build_forms.html" import copr_build_cancel_form %}                

{% macro builds_table(builds) %}
  {% if builds %}
    <table class=builds-table>
      <tr>
        <th>Id</th>
        <th>Submitted on</th>
        <th>Submitted by</th>
        <th>Started on</th>
        <th>Ended on</th>
        <th>State</th>
        <th>Results</th>
        <th>Action</th>
      </tr>
    {% for build in builds %}
      <tr class=build-{{ build.state }}>
        <td>{{ build.id }}</td>
        <td>{{ build.submitted_on|date_from_secs }}</td>
        <td>{{ build.user.name }}</td>
        <td>{{ build.started_on|date_from_secs or 'Not yet' }}</td>
        <td>{{ build.ended_on|date_from_secs or 'Not yet' }}</td>
        <td>{{ build.state }}</td>
        <td>{% if build.results %}<a href={{ build.results }}>{% endif %}{{ build.results }}{% if build.results %}</a>{% endif %}</td>
        <td>
          {% if g.user and g.user == build.user %}
            {{ copr_build_cancel_form(build) }}
          {% else %}
            ---
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan=8>
          <h4>Package URLs:</h4>
          <ul class=packages-list>
            {% if build.pkgs is not none %}
              {% for pkg in build.pkgs.split() %}
                <li><a href={{ pkg }}>{{ pkg }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h3>No builds so far</h3>
  {% endif %}
{% endmacro %}
