{% extends "coprs/detail.html" %}
{% block title %}Builds for {{ copr.owner.name }}/{{ copr.name }}{% endblock %}
{% block builds_selected %}selected{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% from "coprs/detail/_builds_table.html" import builds_table with context %}

{% block detail_body %}
  {% if builds %}
    {{ builds_table(builds, paginator.page) }}
    <div class="pagination">
      {{ render_pagination(request, paginator) }}
    </div>
  {% else %}
    <h2>No builds so far.</h2>
  {% endif %}
{% endblock %}
