{% extends "coprs/detail.html" %}
{% block title %}Monitor {{ copr.owner.name }}/{{ copr.name }}{% endblock %}
{% block monitor_selected %}selected{% endblock %}

{% block detail_body %}
  {% if build %}
    <p>
      Latest build status:
      <strong>{{ build.state }}</strong>
    </p>
    {% if not build.canceled %}
      <table class="monitor">
        <tr>
          <th>Package</th>
          {% for chroot in chroots %}
          <th>
            {{ chroot }}
          </th>
          {% endfor %}
        </tr>
        {% for package, states in packages %}
          <tr>
            <td>{{ package }}</td>
            {% for state in states %}
                    <td class="centered build-{{ state }}">{{ state }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% else %}
    <h2>No builds so far.</h2>
  {% endif %}
{% endblock %}
