*.pyc
*.pyo
*.swp
.coverage
data/
cli/dist/
build/
_build/
python-doc/
*.egg-info
documentation/build
documentation/python-doc
_venv/
_report/
_tmp/

backend/docs/build

frontend/coprs_frontend/copr_frontend.log

_redis.log

# IDE
.idea

.vagrant

.DS_Store
