# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
argparse
blinker
flask-sqlalchemy
flask-openid
flask-script
flask-whooshee
flask-wtf
flexmock
pytest
