sphinxcontrib-httpdomain
flask
six
mock
pytest
pytest-cov

# It seems that sphinx incorrectly specifies its jinja2 dependency.
# There is some backward incompatible change in 3.1.x and sphinx fails
# because of that. Let's temporarily stay with an older version.
jinja2==3.0.0
