[backend]

# URL where are results visible
# default is http://copr
results_baseurl=https://copr-be.cloud.fedoraproject.org/results

# default is http://coprs/rest/api
frontend_url=https://copr-fe.cloud.fedoraproject.org/backend
frontend_base_url=http://copr-fe-dev.cloud.fedoraproject.org

# must have same value as BACKEND_PASSWORD from have frontend in /etc/copr/copr.conf
# default is PASSWORDHERE but you really should change it. really.
frontend_auth=backend_password_from_fe_config

# comma-separated architectures 
# default is i386,x86_64
#architectures=i386,x86_64


# Set a number of build groups (default is 1)
build_groups=1

# For each build group set:
#   name - name of the group (will be shown in the worker process name)
#   archs - architectures to build by this group
#   spawn_playbook - path to an ansible playbook which spawns a builder
#   terminate_playbook - path to an ansible playbook to terminate the builder
#   max_workers - maximum number of workers in this group
#
#   Use prefix groupX where X is number of group starting from zero.
# 
# Example: (and also default values)
#   group0_name=PC
#   group0_archs=i386,x86_64
#   group0_spawn_playbook=/srv/copr-work/provision/builderpb-PC.yml
#   group0_terminate_playbook=/srv/copr-work/provision/terminatepb-PC.yml
#   group0_max_workers=8
group0_name=PC
group0_archs=i386,x86_64
group0_spawn_playbook=/srv/copr-work/provision/builderpb-PC.yml
group0_terminate_playbook=/srv/copr-work/provision/terminatepb-PC.yml
group0_max_workers=8


# What variables will be send to spawn_playbook.  Expects comma separated list
# of keywords.  For example 'spawn_vars=chroot' will create
# 'copr_task["chroot"]' variable accessible from spawn_playbook.
# Currently supported parameters
# - chroot
#       string representation of expect chroot to be alloced, e.g.
#       fedora-rawhide-ppc64
#
# default is None (empty)
#spawn_vars=chroot

# The same option as 'spawn_vars' above, except that variables will be send to
# terminate_playbook ansible script.
# Currently supported parameters:
# - ip
#       IP address of builder which should be terminated
# - vm_name
#       name of VM (if provided by spawn script)
# default is None (empty)
#terminate_vars=ip

# directory where results are stored
# should be accessible from web using 'results_baseurl' URL
# no default
destdir=/var/lib/copr/public_html/results

# how long (in seconds) backend should wait before query frontends
# for new tasks in queue
# default is 10
sleeptime=30

# default is 8
num_workers=5

# path to log file
# default is /var/log/copr/backend.log
logfile=/var/log/copr/backend.log

# default is /var/log/copr/workers/
worker_logdir=/var/log/copr/workers/

# exit on worker failure
# default is false
#exit_on_worker=false

# publish fedmsg notifications from workers if true
# default is false
#fedmsg_enabled=false


# enable package signing, require configured
# signer host and correct /etc/sign.conf
#do_sign=false

[builder]
# default is 1800
timeout=3600
