AliasMatch "/repo(/.*)/md5(/.*)" "/var/lib/dist-git/cache/lookaside$1$2"
Alias /repo/ /var/lib/dist-git/cache/lookaside/

Alias /per-task-logs /data/distgit/web/logs
<Directory "/data/distgit/web/logs">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
