{% extends "coprs/detail/monitor.html" %}

{% from "_helpers.html" import package_href, build_href %}
{% from "coprs/detail/_build_states.html" import build_states %}

{% set selected_monitor_tab = "detailed" %}

{% block project_breadcrumb_monitor %}
<li class="active">
  Detailed
</li>
{% endblock %}


{% block monitor_table %}
<h2> Detailed Build Monitor </h2>
<p>States of last builds of every package in this project.
    One package can have more builds. Each field contains a build id, state and package version.</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Package</th>
      {% for i, chroot in oses %}
      <th colspan="{{i}}"> {{ chroot|capitalize }}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for chroot in archs %}
      <th> {{ chroot }} </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for package_dict in monitor %}
      {% set package = package_dict["package"] %}
      {% set build_chroots = package_dict["build_chroots"] %}

      <tr>
        <td style="white-space:nowrap">
          <b><a href="{{ package_href(package) }}">
            {{ package.name }}
          </a></b>
        </td>
        {% for chroot in copr.active_chroots_sorted %}
        <td>
          {% if chroot.name in build_chroots %}
            {% set build_chroot = build_chroots[chroot.name] %}
            {% if build_chroot %}
              {% set build = build_chroot.build %}
              <a href="{{ build_href(build) }}">

                <small> {{ build.id }} </small> <br>
                <span class="build-{{ build_chroot.state }}">
                  {{ build_chroot.state }}
                </span> <br>
                <small class="text-muted"> {{ build.pkg_version }} </small>
              </a>
            {% else %}
            -
            {% endif %}
          {% else %}
            -
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
