{% extends "layout.html" %}
{% block title %}Not Found{% endblock %}
{% block header %}Not Found!{% endblock %}
{% block body %}
  <h1> Error {{ error_code }}
  {% if error_title %}
    : {{ error_title }}
  {% endif %}

  </h1>
  {% if message %}
    {{ message }}
  {% else %}
    Something went wrong
  {% endif %}

  {% if config.debug or config.env != "production" %}
    <p>
      Administrators should take a look at
      <code>/var/log/copr-frontend/frontend.log</code>
      to analyze the full error output.
    </p>
  {% endif %}
{% endblock %}
