{% macro render_field(field, label=None, class='', info=None) %}
  {% if not kwargs['hidden'] %}

    <div class="form-group {% if field.errors %} has-error {% endif %} ">
      <label class="col-sm-2 control-label">
        {{ label or field.label }}:
      </label>
      <div class="col-sm-10">
        {{ field(class="form-control", **kwargs)|safe }}
        <ul class="list-unstyled">
        {% if info %}
          {% for line in (info if info is not string else [info]) %}
          <li class="help-block">
            <small class="text-muted pficon pficon-info"></small> {{line|safe}}
          </li>
          {% endfor %}
        {% endif %}
        {% if field.errors %}
          {% for error in field.errors %}
          <li class="help-block">
            <span class="help-block">{{ error }}</span>
          </li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  {% else %}
    {{ field(**kwargs)|safe }}
  {% endif %}
{% endmacro %}

{% macro render_pypi_python_versions_field(field) %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="col-sm-2 control-label">
      <label for="python_versions">Build for Python</label>:
    </label>
    <div class="col-sm-10 pypi-python-version">
      <input id="python_versions-0" name="python_versions" value="3" type="checkbox" {% if '3' in field.data %}checked="checked"{% endif %}>
      <label for="python_versions-0">3</label>&nbsp;&nbsp;&nbsp;
      <input id="python_versions-1" name="python_versions" value="2" type="checkbox" {% if '2' in field.data %}checked="checked"{% endif %}>
      <label for="python_versions-1">2</label>
    </div>
    {% if field.errors %}
      {% for error in field.errors %}
        <li class="help-block">
          <span class="help-block">{{ error }}</span>
        </li>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_pagination(request, paginator) %}
  {% if paginator.pages > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% if paginator.border_url(request, True) %}
      <li>
        <a href="{{ paginator.border_url(request, True)[0] }}">{{ paginator.border_url(request, True)[1] }} ...</a>
      </li>
      {% endif %}
      {% for page in paginator.get_urls(request) %}
        {% if page[1] != paginator.page %} {# no url for current page #}
        <li>
          <a href="{{ page[0] }}">{{ page[1] }}</a>
        </li>
        {% else %}
        <li class="active">
          <span>{{ page[1] }}</span>
        </li>
        {% endif %}
      {% endfor %}
      {% if paginator.border_url(request, False) %}
        <li>
          <a href="{{ paginator.border_url(request, False)[0] }}">... {{ paginator.border_url(request, False)[1] }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_form_errors(form=[], errors=[]) %}
  {% set errors = (errors + form.errors.values() |sum(start=[]))
      |reject('none')
      |select('defined')
      |list
  %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
      <ul>
        {% for error in errors %}
          {% if error %}
            <li>{{ error }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro build_state_text(state) %}
  <span class="build-{{ state }}" title="{{ state | build_state_description }}">
  {% if state == "importing" %}
    <span class="pficon pficon-running"></span> {{ state }}
  {% elif state == "pending" %}
    <span class="pficon pficon-running"></span> {{ state }}
  {% elif state == "starting" %}
    <span class="pficon pficon-running"></span> {{ state }}
  {% elif state == "running" %}
    <span class="pficon pficon-running"></span> {{ state }}
  {% elif state == "succeeded" %}
    <span class="pficon pficon-ok"></span> {{ state }}
  {% elif state == "forked" %}
    <span class="pficon pficon-ok"></span> {{ state }}
  {% elif state == "skipped" %}
    <span class="pficon pficon-ok"></span> {{ state }}
  {% elif state == "failed" %}
    <span class="pficon pficon-error-circle-o"></span> {{ state }}
  {% elif state == "canceled" %}
    <span class="pficon pficon-close"></span> {{ state }}
  {% elif state == "waiting" %}
    <span class="glyphicon glyphicon-hourglass"></span> {{ state }}
  {% else %}
    <span> unknown </span>
  {% endif %}
  </span>
{% endmacro %}

{% macro build_state(build) %}
  {% if build.canceled %}
    {{ build_state_text("canceled") }}
  {% else %}
    {% if build.status is not none %}
      {% if build.status|state_from_num == "waiting" %}
        {{ build_state_text(build.source_status|state_from_num) }}
      {% else %}
        {{ build_state_text(build.status|state_from_num) }}
      {% endif %}
    {% elif build.source_status %}
      {{ build_state_text(build.source_status|state_from_num) }}
    {% else %}
      {{ build_state_text(0|state_from_num) }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro module_state(module) %}
  {{ build_state_text(module.status | module_state_from_num) }}
{% endmacro %}

{% macro os_logo(logo_name) %}
    {% if logo_name %}
      <img style="height:1.8em" src="{{ url_for('static', filename="chroot_logodir/"+logo_name) }}" />
    {% endif %}
{% endmacro %}

{% macro friendly_os_name(os_release, os_version=None) %}
  {% if os_release == 'epel' %}
    Epel for CentOS {{ os_version }}
  {% elif os_release == 'opensuse-leap' %}
    openSUSE Leap {{ os_version }}
  {% elif os_release == 'opensuse' and os_version == 'tumbleweed' %}
    openSUSE Tumbleweed
  {% else %}
    {{ os_release | capitalize }} {{ os_version }}
  {% endif %}
{% endmacro %}

{% macro alert(message, type=None) %}
  {% set alert_class_map = {
        "error": "alert-danger",
        "warning": "alert-warning",
        "success": "alert-success",
  } %}

  {% set alert_icon_map = {
        "error": "pficon-error-circle-o",
        "warning": "pficon-warning-triangle-o",
        "success": "pficon-ok",
  } %}

  <div class="alert {{ alert_class_map.get(type, 'alert-info') }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <span class="pficon {{ alert_icon_map.get(type, 'pficon-info') }}"></span>
  {{ message }}
  </div>
{% endmacro %}

{%- macro copr_details_href(copr) %}
  {{- copr_url('coprs_ns.copr_detail', copr) }}
{%- endmacro %}

{% macro copr_title(copr) %}
  {% if copr.is_a_group_project %}
    {% set projects_list_href=url_for('groups_ns.list_projects_by_group', group_name=copr.group.name) %}
    {% set projects_list_name="@" + copr.group.name  %}
  {% else %}
    {% set projects_list_href=url_for('coprs_ns.coprs_by_user', username=copr.user.name) %}
    {% set projects_list_name=copr.user.username  %}
  {% endif %}

  <a href="{{ projects_list_href }}">{{ projects_list_name }}</a><!--
  --> / <!--
  --><strong><a href="{{ copr_details_href(copr) }}">{{ copr.name }}</a></strong>
{% endmacro %}


{% macro copr_name(copr) -%}
  {{ copr.full_name }}
{% endmacro %}


{%- macro copr_url(view, copr) %}
  {#- Examine given copr and generate proper URL for the `view`

  Values of `username/group_name` and `coprname` are autimatically passed as the first two URL parameters,
  and therefore you should *not* pass them manually.

  Usage:
    copr_url('coprs_ns.foo', copr)
    copr_url('coprs_ns.foo', copr, arg1='bar', arg2='baz)
  #}
  {%- if not copr.is_a_group_project %}
    {{- url_for(view, username=copr.user.name, coprname=copr.name, **kwargs) }}
  {%- else %}
    {{- url_for(view, group_name=copr.group.name, coprname=copr.name, **kwargs) }}
  {%- endif %}
{%- endmacro %}



{% macro user_projects_panel(user) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> {{ g.user.name | capitalize}} </h3>
    </div>
    <div class="panel-body">
      <img class="avatar" src="{{ g.user.gravatar_url }}" alt="User Image">
    </div>
    <div class="list-group">
      <a href="{{ url_for('coprs_ns.coprs_by_user', username=g.user.name) }}" class="list-group-item">
        <span class="badge">{{ g.user.coprs_count }}</span>
        My projects
      </a>
    {% if config.FAS_LOGIN %}
      <a href="{{url_for('groups_ns.list_user_groups') }}" class="list-group-item">
        <span class="badge"> {{ user.user_groups|length }} </span>
        My groups
      </a>
    {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro task_queue_panel(tasks_info, graph) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Task Queue </h3>
    </div>
    <div class="list-group">
      <a href="{{url_for('status_ns.importing')}}" class="list-group-item">
        <span class="badge">{{ tasks_info.importing}}</span>
        Importing
      </a>
      <a href="{{url_for('status_ns.pending')}}" class="list-group-item">
        <span class="badge">{{ tasks_info.pending }}</span>
        Pending
      </a>
      <a href="{{url_for('status_ns.running')}}" class="list-group-item">
        <span class="badge">{{ tasks_info.running }}</span>
        Running
      </a>
      <a id="stats-link" href="{{url_for('status_ns.stats')}}" class="list-group-item hidden">
        Running tasks during last 24 hours:
        <div id="small-graph" class="chart-pf-sparkline"></div>
      </a>
    </div>
  </div>
{% endmacro %}


{% macro recent_builds_panel(builds) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Recent Builds - <a href="{{ url_for('recent_ns.all') }}">View All</a></h3>
    </div>
    <div class="list-group">
      {% for build in builds %}
        <a href="{{copr_url('coprs_ns.copr_build', build.copr, build_id=build.id)}}" class="list-group-item">

          <h4 class="list-group-item-heading">{{build.package.name}}</h4>
          <p class="list-group-item-text">
            <small>Project:</small>
            {{ copr_name(build.copr) }}
          </p>
          <p class="list-group-item-text">
            <small>Build:</small>
            {{build.id}}
          </p>
          <p class="list-group-item-text">
            <small>State:</small>
            <span class="build build-{{build.state}}">{{build.state}}</span>
          </p>
          <p class="list-group-item-text">
            <small>Finished:</small>
            {{build.max_ended_on|time_ago()}} ago
          </p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro recent_blog_panel() %}
  {% if config.NEWS_URL and config.NEWS_FEED_URL %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">News - <a href="{{ config.NEWS_URL }}">Read All</a></h3>
    </div>
    <div class="list-group">
      <noscript>
        <a href="https://fedora-copr.github.io/" class="list-group-item">
          <p class="list-group-item-text">
            This page uses JavaScript to show the most recent article from out blog.
            Click here to visit the blog.
          </p>
        </a>
      </noscript>
      <a href="" id="blog-link" class="list-group-item hidden">
        <b class="list-group-item-heading" id="blog-title"></b>
        <p class="list-group-item-text">
          <small>Published:</small>
          <span id="blog-date"></span>
        </p>
        <p class="list-group-item-text">
          <small>Author:</small>
          <span id="blog-author"></span>
        </p>
      </a>
    </div>
  </div>
  {% endif %}
{% endmacro %}


{% macro render_crumb(href, title, active=False) %}
<li {% if active %} class="active" {% endif %} >
  <a href="{{ href }}">
    {{ title }}
  </a>
</li>
{% endmacro %}

{% macro render_breadcrumbs(crumbs) %}
<ol class="breadcrumb">
  render_crumb({{ url_for('coprs_ns.coprs_show') }}, "Home')

  {% for href, title in crumbs %}
    <li>
      {% if href %}
        <a href="{{ href }}"> {{ title }} </a>
      {% else %}
        {{ title }}
      {% endif %}
    </li>
  {% endfor %}
</ol>
{% endmacro %}


{%- macro build_href(build) %}
  {{- copr_url("coprs_ns.copr_build", build.copr, build_id=build.id) -}}
{% endmacro %}

{% macro build_href_from_sql(build) %}
  {% if build.group_name %}
    {{- url_for('coprs_ns.copr_build', group_name=(build.copr.group.name if build.copr is defined else build.group_name), coprname=build.copr_name, build_id=build.id) -}}
  {% else %}
    {{- url_for("coprs_ns.copr_build", username=(build.copr.user.name if build.copr is defined else build.user_name), coprname = build.copr_name, build_id = build.id) -}}
  {% endif %}
{% endmacro %}

{% macro package_href(package) %}
  {{- copr_url('coprs_ns.copr_package', package.copr, package_name=package.name) -}}
{% endmacro %}

{%- macro fas_group_href(name) -%}
https://admin.fedoraproject.org/accounts/group/view/{{name}}
{%- endmacro -%}


{% macro repo_file_href(copr, repo) %}
  {% if copr.is_a_group_project: %}
  {{- url_for('coprs_ns.generate_repo_file',
      group_name=copr.group.name,
      copr_dirname=copr.main_dir.name,
      name_release=repo.name_release,
      repofile=repo.repo_file,
      _external=True
    )|fix_url_https_frontend -}}
  {% else %}
  {{- url_for('coprs_ns.generate_repo_file',
      username=copr.user.name,
      copr_dirname=copr.main_dir.name,
      name_release=repo.name_release,
      repofile=repo.repo_file,
      _external=True
    )|fix_url_https_frontend -}}
  {% endif %}
{% endmacro %}


{% macro render_monitor_table(copr, monitor, oses, archs, status_enum_func, simple=True) %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Package</th>
      {% for i, chroot in oses %}
      <th colspan="{{i}}"> {{ chroot|capitalize }}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for chroot in archs %}
      <th> {{ chroot }} </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
    {# The following code is optimized to pass (potentially large) monitor data just once. #}
    {# It expects results to be sorted by package.name and then mock_chroot.name. #}
    {% set current_row = [None] %}
    {% set copr_active_chroots_sorted = copr.active_chroots_sorted %}
    {% set copr_active_chroots_sorted_length = copr_active_chroots_sorted|length %}
    {#% set copr_active_chroots_sorted_index = copr_active_chroots_sorted_length %#} {# we need to set this var from an inner scope, which is unsupported, hence the following list-as-a-counter hacks: #}
    {% set copr_active_chroots_sorted_index = [1]*copr_active_chroots_sorted_length %}

    {% for row in monitor %}
      {% if row.package_name != current_row[0] %}
        {% for _ in range(copr_active_chroots_sorted_index|length, copr_active_chroots_sorted_length) %} {# "do" tag would help but just a tiny bit (so no enabling) #}
          <td>-</td>
        {% endfor %}
        </tr><tr>

        <td style="white-space:nowrap">
          <b><a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=row.package_name) }}">
            {{ row.package_name }}
          </a></b>
        </td>
        {% set _ = current_row.pop() %}
        {% set _ = current_row.append(row.package_name) %}
        {#% set copr_active_chroots_sorted_index = 0 %#}
        {% for _ in range(copr_active_chroots_sorted_index|length) %}{% if copr_active_chroots_sorted_index.remove(1) %}{% endif %}{% endfor %}
      {% endif %}

      {% for index in range(copr_active_chroots_sorted_index|length, copr_active_chroots_sorted_length) %}
        {% if row.mock_chroot_id == copr_active_chroots_sorted[index].id %}
          {% for _ in range(copr_active_chroots_sorted_index|length, index) %}
          <td>-</td>
          {% endfor %}
          <td>
            <a href="{{ copr_url("coprs_ns.copr_build", copr, build_id=row.build_id) }}">
              {% if simple %}
                {{ build_state_text(status_enum_func(row.build_chroot_status)) }}
              {% else %}
                <small> {{ row.build_id }} </small> <br>
                {{ build_state_text(status_enum_func(row.build_chroot_status)) }}<br>
                <small class="text-muted"> {{ row.build_pkg_version }} </small>
              {% endif %}
            </a>
          </td>
          {#% set copr_active_chroots_sorted_index = index + 1 %#}
          {% for _ in range(copr_active_chroots_sorted_index|length, index+1) %}
            {% if copr_active_chroots_sorted_index.append(1) %}{% endif %}
          {% endfor %}
          {% set index = copr_active_chroots_sorted_length %}
        {% endif %}
      {% endfor %}

    {% endfor %}

    {% for _ in range(copr_active_chroots_sorted_index|length, copr_active_chroots_sorted_length) %} {# "do" tag would help but just a tiny bit (so no enabling) #}
      <td>-</td>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endmacro %}


{% macro render_additional_build_options(form, copr) %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup" style="text-align: left">
      Chroots
    </label>
    <div class="col-sm-10" id="chroots">
    {% for group_set, chs in form.chroots_sets.items() %}
      {% set outer_loop = loop %}
      {% for ch in chs %}
        <div class="checkbox">
          <label>
            {{ form|attr(ch) }}
            {{ form|attr(ch)|attr('label') }}
            {% if outer_loop.last and loop.last %}&nbsp;&nbsp;&nbsp;<a href="#" onclick="$('#chroots :checkbox').prop('checked', $('#chroots :checkbox').length != $('#chroots :checkbox:checked').length); return false;">...toggle all</a>{% endif %}
          </label>
        </div>
      {% endfor %}
    {% endfor %}
    </div>
  </div>
  {{ form.csrf_token }}
  {% if g.user.proven %}
    {{ render_field(form.memory_reqs) }}
    {{ render_field(form.timeout) }}
  {% else %} {# once we pass the hidden attribute, the field will just be hidden, it seems #}
    {{ render_field(form.memory_reqs, hidden = True) }}
    {{ render_field(form.timeout, hidden = True) }}
  {% endif %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup" style="text-align: left">
    Other Options
    </label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
        {{ form.enable_net(checked=copr.build_enable_net) }}<label for="enable_net">Enable internet access during this build</label>
        </label>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro render_srpm_build_method_box(form) %}
  <!-- This closes "Provide the source" panel, so we can create a new one.
       It is particularly ugly and needs to be changed -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">How to build SRPM from the source</h3>
    </div>
    <div class="panel-body">
      <div class="list-group" style="margin-bottom: 0px">
        {% set srpm_build_methods = [
        ('rpkg', 'rpkg', 'Uses <a href="https://pagure.io/rpkg-client">rpkg</a> utility to build an srpm. Supports unpacked (plain sources + .spec) as well as packed (tarballs + patches + .spec) content. Supports also building directly from DistGit.'),
        ('tito', 'tito', 'This method can be used for projects that are managed with <a href="https://github.com/dgoodwin/tito">Tito</a> packaging tool.'),
        ('tito test', 'tito_test', 'Same as previous Tito method, but passes <code>--test</code> parameter to use current branch HEAD instead of the last package tag. Also extends Release of the built package with Git versioning information.'),
        ('make srpm', 'make_srpm', 'This method allows unlimited customization. You need to provide .copr/Makefile with srpm target in your project and this target will be invoked inside a mock chroot to build the srpm. You can read more <a href="https://docs.pagure.org/copr.copr/user_documentation.html#make-srpm">here</a>.'),
        ] %}

        {% for title, name, description in srpm_build_methods %}
        <div class="list-group-item">
          <div class="radio">
            <label>
              {% set checked = 'checked="checked"' if (form.srpm_build_method.data or 'rpkg') == name %}
              <input id="{{ name }}" name="srpm_build_method" type="radio" value="{{ name }}" {{ checked }}>
              <label for="{{ name }}">
                <strong>{{ title }}</strong>
                <br>
                {{ description |safe }}
              </label>
            </label>
          </div>
        </div>
        {% endfor %}
      </div>
{% endmacro %}
