{% from "_helpers.html" import documentation_card %}

<div class="row row-no-padding documentation-cards">

  {{
    documentation_card(
      "fa-picture-o",
      "Screenshot tutorial",
      "https://docs.pagure.org/copr.copr/screenshots_tutorial.html",
      "Are you a new user? Check out the Copr screenshot tutorial "
      "to see how to create a new project, and build your package in it.",
      first=True,
    )
  }}

  {{
    documentation_card(
      "fa-download",
      "Installing packages",
      "https://docs.pagure.org/copr.copr/how_to_enable_repo.html#how-to-enable-repo",
      "Enabling projects and installing packages from them is easy. "
      "Open a project and run the command from \"Quick Enable\" section.",
    )
  }}

  {{
    documentation_card(
      "fa-question-circle-o",
      "FAQ",
      "https://docs.pagure.org/copr.copr/user_documentation.html#faq",
      "Don't be afraid to ask for help, but make sure to check out the FAQ "
      "section first to save yourself waiting for an answer.",
    )
  }}

  {{
    documentation_card(
      "fa-terminal",
      "Python API",
      "https://python-copr.readthedocs.io/en/latest/",
      "Do you develop an application that communicates "
      "with Copr? Give python3-copr library or copr-cli tool a try.",
    )
  }}

</div>

<div class="row row-no-padding documentation-cards">

  {{
    documentation_card(
      "fa-check-square-o",
      "Fedora Review",
      "https://docs.pagure.org/copr.copr/user_documentation.html#automatic-run-of-fedora-review-tool",
      "Do you plan to add your package to the official Fedora Linux "
      "repositories? Enable fedora-review option for your project.",
      first=True,
    )
  }}

  {{
    documentation_card(
      "fa-cubes",
      "Packit",
      "https://packit.dev/docs/packit-service/",
      "Packit assists with common packager tasks, as well as automatically "
      "rebuilding your packages from each pull request.",
    )
  }}

  {{
    documentation_card(
      "fa-github",
      "GitHub webhooks",
      "https://docs.pagure.org/copr.copr/user_documentation.html#github-webhooks",
      "Create a GitHub webhook to rebuild your packages "
      "automatically from each upstream pull request or push.",
    )
  }}

  {{
    documentation_card(
      "fa-cogs",
      "Pagure integration",
      "https://docs.pagure.org/copr.copr/user_documentation.html#pagure-integration",
      "Configure your pagure project to automatically rebuild your "
      "packages from each upstream pull request or push.",
    )
  }}

</div>
