<!doctype html>
<html>
<head>
  <title>{% block title %}Coprs Build System{% endblock %}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='copr.css') }}">
  <script src="{{ url_for('static', filename='copr.js') }}"></script>
</head>
<body>

{% if copr_banner %}
    {{ copr_banner | safe }}
{% endif  %}

<div class="menu">
  <div class="menu-inner">
    <a href="{{ url_for('coprs_ns.coprs_show') }}"><img id="logo" src="{{ url_for('static', filename='copr_logo.png') }}" alt="Copr Build System"></a>
    <div class="login">
      {% if g.user %}
        <div><span class="text">logged in as </span><a href="https://admin.fedoraproject.org/accounts/user/view/{{ g.user.name }}">{{ g.user.name }}</a> | <a href="{{ url_for('misc.logout') }}">log out</a></div>
      {% else %}
        <div>
            <a href="{{ url_for('misc.login') }}">log in</a> |
            {% for key,val in config.KRB5_LOGIN.iteritems() %}
            <a href="{{ config.KRB5_LOGIN_BASEURI }}{{ val.URI }}/">{{ val.log_text }}</a> |
            {% endfor %}
            <a href="https://admin.fedoraproject.org/accounts/user/new">sign up</a></div>
      {% endif %}
      <form method="get" action="{{ url_for('coprs_ns.coprs_fulltext_search') }}">
        <input class="rounded" type="text" name="fulltext">
	<input class="fulltext-submit" type="submit" value="search">
      </form>
    </div>
  </div>
</div>
<div class="page">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}  
  <div class="page-inner">
    {% block body %}{% endblock %}
  </div>
</div>
<div class="footer">
<p>
  <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  <a href="https://fedorahosted.org/copr/">Copr Project</a>
  <a href="https://fedorahosted.org/copr/wiki/UserDocs#FAQ">FAQ</a>
  <a class="last" href="{{ url_for('api_ns.api_home') }}">API</a>
</p>
<p>
  <small>
    Copr frontend build version: __RPM_BUILD_VERSION
  </small>
</p>
</div>

{% if fedmenu_url is defined %}
<script src="{{fedmenu_url}}/js/fedora-libravatar.js"></script>
<script src="{{fedmenu_url}}/js/fedmenu.js"></script>
<script>
  fedmenu({
      'url': '{{fedmenu_data_url}}',
      'mimeType': 'application/javascript',
      'position': 'bottom-right',
      {% if copr is defined %}
      'user': '{{copr.owner.name}}',
      {% endif %}
  });
</script>
{% endif %}

</body>
</html>
