{% from "_helpers.html" import alert %}

<!doctype html>
<html>
<head>
  <title>{% block title %}Coprs Build System{% endblock %}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static', filename='css/patternfly.min.css') }}" rel="stylesheet" media="screen, print">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../components/html5shiv/dist/html5shiv.min.js"></script>
  <script src="../components/respond/dest/respond.min.js"></script>
  <![endif]-->
  <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
  <!-- IE8 requires jQuery v1.x -->
  <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/datatables/media/js/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patternfly.min.js') }}"></script>

  <script src="{{ url_for('static', filename='copr.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='copr.css') }}">
</head>

<body>
  <!-- BANNER -->
  {% if copr_banner %}
      {{ copr_banner | safe }}
  {% endif  %}

  <!-- MAIN MENU -->
  <nav class="" id="main-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-6">
          <a href="{{ url_for('coprs_ns.coprs_show') }}">
            <img id="logo" src="{{ url_for('static', filename='copr_logo.png') }}" alt="Copr Build System">
          </a>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6">
          <div id="login-menu" class="text-right">
          {% if g.user %}
            <a href="https://admin.fedoraproject.org/accounts/user/view/{{ g.user.name }}">{{ g.user.name }}</a> | <a href="{{ url_for('misc.logout') }}">log out</a>
          {% else %}
            <a href="{{ url_for('misc.login') }}">log in</a> |
            {% for key,val in config.KRB5_LOGIN.items() %}
            <a href="{{ config.KRB5_LOGIN_BASEURI }}{{ val.URI }}/">{{ val.log_text }}</a> |
            {% endfor %}
            <a href="https://admin.fedoraproject.org/accounts/user/new">sign up</a>
          {% endif %}
          </div>
          <form role="search" method="get" action="{{ url_for('coprs_ns.coprs_fulltext_search') }}">
            <div class="input-group menu-search">
              <input name="fulltext" type="text" class="form-control" placeholder="Search projects" value="{% block search_box %}{%endblock%}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="breadcrumb-panel">
    <div class="container">
      <ol class="breadcrumb">
        {% block breadcrumbs %}
        {% endblock %}
      </ol>
    </div>
  </div>
  {#
  <nav class="navbar navbar-sm navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="{%block main_menu_projects %}{% endblock %}">
          <a href="{{ url_for('coprs_ns.coprs_show') }}">Projects</a>
        </li>
        <li class="{%block main_menu_status %}{% endblock %}">
          <a href="{{url_for('status_ns.waiting')}}">Status</a>
        </li>
        <li class="{%block main_menu_api %}{% endblock %}">
          <a href="{{ url_for('api_ns.api_home') }}">API</a>
        </li>
      </ul>
    </div>
  </nav>
  #}

  <!-- CONTENT -->
  <div id=content>
    <div class="container">

      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for type, message in messages %}
          {{ alert(message, type) }}
        {% endfor %}  
      {% endwith %}

      <!-- the actual content -->
      {% block body %}{% endblock %}

    </div>
    <footer class="footer">
      <div>
        <div class="container text-muted">
          <div class="text-center">
            <div class="row">
              <div class="col-sm-4">
                <dl>
                  <dt> Copr Project </dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li> <a href="https://fedorahosted.org/copr/">Project Homepage</a> </li>
                      <li> <a href="https://fedorahosted.org/copr/wiki/UserDocs#FAQ">FAQ</a> </li>
                    </ul>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt> Site Navigation </dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li> <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a> </li>
                      <li> <a href="{{url_for('status_ns.importing')}}">Task Queue</a> </li>
                      <li> <a href="{{ url_for('api_ns.api_home') }}">API</a> </li>
                    </ul>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-4">
                <dl>
                  <dt> Powered by </dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li> <a href="https://www.patternfly.org">PatternFly </a> </li>
                      <li> <a href="https://github.com/release-engineering/dist-git">Dist Git</a> </li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
            <small class="text-muted">
              Build __RPM_BUILD_VERSION
            </small>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- FEDORA MENU -->
  {% if fedmenu_url is defined %}
  <script src="{{fedmenu_url}}/js/fedora-libravatar.js"></script>
  <script src="{{fedmenu_url}}/js/fedmenu.js"></script>
  <script>
    fedmenu({
        'url': '{{fedmenu_data_url}}',
        'mimeType': 'application/javascript',
        'position': 'bottom-right',
        {% if copr is defined %}
        'user': '{{copr.owner.name}}',
        {% endif %}
    });
  </script>
  {% endif %}
</body>
</html>
