{% extends "layout.html" %}
{% from "_helpers.html" import build_href_from_sql, build_state, build_state_text, copr_url %}
{% block title %}Migration Report{% endblock %}
{% block header %}Migration Report{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a></li>
  <li><a href="{{ url_for('coprs_ns.coprs_by_owner', username=user.name) }}">{{ user.name }}</a></li>
  <li class="active">Migration Report</li>
</ol>
{% endblock %}

{% block body %}


<div id="profile">
  <img src="{{ user.gravatar_url }}" alt="User Image" class="avatar">
  <h1>{{ user.name|capitalize }}'s Migration</h1>
  <p style="color:#333">Hello {{ user.name|capitalize }}, we have performed migration of Copr service to foo and therefore bar</p>
</div>

{% for copr in coprs |sort(attribute='group_id') %}
  <h2 class="page-title"><a href="{{ copr_url('coprs_ns.copr_detail', copr) }}">{{ copr.full_name }}</a></h2>

  {% if copr.packages %}
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">Package Name</th>
        <th class="col-md-2">State Before Migration</th>
        <th class="col-md-2">State After Migration</th>
        <th class="col-md-1">Build</th>
      </tr>
    </thead>
    <tbody>
      {% set packages_succeeded = copr.packages |selectattr('old_status', 'sameas', 1) |list %}
      {% set packages_other = copr.packages |rejectattr('old_status', 'sameas', 1) |sort(attribute='old_status') |list %}
      {% for package in packages_succeeded + packages_other %}
      <tr>
        <td>
          <a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a>
        </td>
        <td>
          {{ build_state_text(package.old_status | state_from_num) }}
        </td>
        <td>
          {{ build_state(package.last_build()) if package.last_build() else '-' }}
        </td>
        <td>
          {% if package.last_build() %}
            <a href="{{ build_href_from_sql(package.last_build()) }}">{{ package.last_build().id }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>No packages</h3>
  {% endif %}
{% endfor %}

{% endblock %}
