{% extends "layout.html" %}
{% from "_helpers.html" import build_href_from_sql, build_state, build_state_text, copr_url %}
{% block title %}Migration Report{% endblock %}
{% block header %}Migration Report{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a></li>
  {% if user %}
    <li><a href="{{ url_for('coprs_ns.coprs_by_owner', username=user.name) }}">{{ user.name }}</a></li>
  {% else %}
    <li><a href="{{ url_for('groups_ns.list_projects_by_group', group_name=group.name) }}">{{ group.name }}</a></li>
  {% endif %}
  <li class="active">Migration Report</li>
</ol>
{% endblock %}

{% block body %}
<div id="profile">
  {% if user %}
    <img src="{{ user.gravatar_url }}" alt="User Image" class="avatar">
    <h1>{{ user.name|capitalize }}'s Migration</h1>
    {% if (user and user.name == g.user.name) %}
    {% endif %}
  {% else %}
    <img src="https://seccdn.libravatar.org/avatar/" alt="" class="avatar">
    <h1>Migration of @{{ group.name }} Group</h1>
    <p>
      <a href="https://admin.fedoraproject.org/accounts/group/view/{{ group.fas_name }}" title="{{ group.fas_name }}'s FAS details" target="_blank">FAS details</a> |
      <a href="https://admin.fedoraproject.org/accounts/group/members/{{ group.fas_name }}" title="{{ group.fas_name }}'s Members" target="_blank">View Members</a>
    </p>
  {% endif %}

  {% if g.user and ((user and user.name == g.user.name) or (group and g.user.can_build_in_group(group))) %}
    <p style="color:#333">Hello {{ g.user.name|capitalize }}, we have performed migration of Copr service to foo and therefore bar</p>
  {% endif %}
</div>

{% for copr in coprs |sort(attribute='group_id') %}
  <h2 class="page-title"><a href="{{ copr_url('coprs_ns.copr_detail', copr) }}">{{ copr.full_name }}</a></h2>

  {% if copr.packages %}
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">Package Name</th>
        <th class="col-md-2">State Before Migration</th>
        <th class="col-md-2">State After Migration</th>
        <th class="col-md-1">Build</th>
      </tr>
    </thead>
    <tbody>
      {% set packages_succeeded = copr.packages |selectattr('old_status', 'sameas', 1) |list %}
      {% set packages_other = copr.packages |rejectattr('old_status', 'sameas', 1) |sort(attribute='old_status') |list %}
      {% for package in packages_succeeded + packages_other %}
      <tr>
        <td>
          <a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a>
        </td>
        <td>
          {{ build_state_text(package.old_status | state_from_num) }}
        </td>
        <td>
          {{ build_state(package.last_build()) if package.last_build() else '-' }}
        </td>
        <td>
          {% if package.last_build() %}
            <a href="{{ build_href_from_sql(package.last_build()) }}">{{ package.last_build().id }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>No packages</h3>
  {% endif %}
{% endfor %}

{% endblock %}
