<dt><h3>Copr Project</h3></dt>
<dd>
  <ul>
    <li><a href="https://pagure.io/copr/copr">Project Homepage</a></li>
    <li><a href="https://docs.pagure.org/copr.copr/user_documentation.html">User Documentation</a></li>
    <li><a href="https://bugzilla.redhat.com/enter_bug.cgi?product=Copr">Report a Bug</a></li>
    <li><a href="https://bugzilla.redhat.com/buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&bug_status=MODIFIED&bug_status=ON_QA&classification=Community&list_id=6150623&product=Copr&query_format=advanced">Known Issues</a></li>
    <li><a href="https://docs.pagure.org/copr.copr/user_documentation.html#faq">FAQ</a></li>
  </ul>
</dd>
