<dt><h3>Copr Project</h3></dt>
<dd>
  <ul>
    <li><a href="https://github.com/fedora-copr/copr">Project Homepage</a></li>
    <li><a href="https://docs.pagure.org/copr.copr/user_documentation.html">User Documentation</a></li>
    <li><a href="/api_3/docs/">API Documentation</a></li>
    <li><a href="https://github.com/fedora-copr/copr/issues/new">Report a Bug</a></li>
    <li><a href="https://github.com/fedora-copr/copr/security">Report a security issue</a></li>
    <li><a href="https://github.com/fedora-copr/copr/issues">Known Issues</a></li>
    <li><a href="https://docs.pagure.org/copr.copr/user_documentation.html#faq">FAQ</a></li>
  </ul>
</dd>
