{% extends "layout.html" %}
{% block title %} Task queue - Copr {% endblock %}
{% block header %} Task queue - Copr {% endblock %}
{% block body %}
<h1> Recent builds </h1>

<table class="status-table">
    <tr>
        <th>Build</th>
        <th>Finished</th>
        <th>Project</th>
        <th>Packages</th>
        <th>Repo</th>
        <th>Status</th>
    </tr>
    {% for build in builds %}
        <tr>
            <td><a href="{{ url_for('coprs_ns.copr_build', username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id) }}">
                {{build.id}}
            </a></td>


            <td>{{ build.ended_on | time_ago }}</td>

            <td><a href="{{ url_for('coprs_ns.copr_detail', username = build.copr.owner.name, coprname = build.copr.name) }}">
                {{build.copr.owner.name}}/{{build.copr.name}}
            </a></td>


            <td>{{ build.pkgs | pkg_name }} </td>

            <td><a href="{{ build.results }}">
                {{build.copr.owner.name}}/{{build.copr.name}}
            </a></td>

            <td>
                {{ build.state }}
            </td>
        </tr>
    {% endfor %}
</table>

{% block status_body %}{% endblock %}
{% endblock %}
