{% extends "layout.html" %}
{% block title %} Recent builds - Copr {% endblock %}
{% block header %} Recent builds - Copr {% endblock %}
{%block main_menu_status %}active{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  </li>
  <li>
    <a href="{{ url_for('recent_ns.all') }}">Recent Builds</a>
  </li>
  {%block status_breadcrumb %}{%endblock%}
</ol>
{% endblock %}
{% block body %}
<h1> Recent Builds </h1>
<ul class="nav nav-tabs">
  <li class="{% block all_selected %}{% endblock %}">
      <a href="{{ url_for('recent_ns.all') }}">All Projects</a>
  </li>
  {% if g.user %}
  <li class="{% block my_selected %}{% endblock %}">
      <a href="{{ url_for('recent_ns.my') }}">My Projects</a>
  </li>
  {% endif %}
</ul>
{% block status_body %}{% endblock %}
{% endblock %}
