{% extends "layout.html" %}
{% block title %} Task queue - Copr {% endblock %}
{% block header %} Task queue - Copr {% endblock %}
{%block main_menu_status %}active{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  </li>
  <li>
    <a href="{{ url_for('status_ns.waiting') }}">Status</a>
  </li>
  {%block status_breadcrumb %}{%endblock%}
</ol>
{% endblock %}
{% block body %}
<h1> Task queue </h1>
<ul class="nav nav-tabs">
  <li class="{% block importing_selected %}{% endblock %}">
      <a href="{{ url_for('status_ns.importing') }}">Importing</a>
  </li>
  <li class="{% block waiting_selected %}{% endblock %}">
      <a href="{{ url_for('status_ns.waiting') }}">Waiting</a>
  </li>
  <li class="{% block running_selected %}{% endblock %}">
      <a href="{{ url_for('status_ns.running') }}">Running</a>
  </li>
  <li class="{% block stats_selected %}{% endblock %}">
      <a href="{{ url_for('status_ns.stats') }}">Statistics</a>
  </li>
</ul>
{% block status_body %}{% endblock %}
{% endblock %}
