<VirtualHost 127.0.0.1:8000>
    ServerName 127.0.0.1

    #WSGIPassAuthorization On
    WSGIDaemonProcess 127.0.0.1 user=coprs group=coprs threads=5
    WSGIScriptAlias / /usr/share/coprs_frontend/application
    WSGIProcessGroup 127.0.0.1

    ErrorLog logs/error_coprs
    CustomLog logs/access_coprs common

    <Directory /var/www/coprs_frontend>
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
