{% extends "coprs/show.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}


{% block show_top %}
{% if not g.user and not fulltext%}
<br>
<div class="panel panel-default">
  <div class="panel-body">
    {% include "welcome.html" %}
  </div>
</div>
{% endif %}
{% endblock %}


{% block projects_header %}
{% if g.user %}
<a href="{{url_for('coprs_ns.copr_add', username=g.user.name) }}" class="btn button-new pull-right btn-primary">
  <span class="pficon pficon-add-circle-o"></span> New Project
</a>
{% endif %}
<h2 class="page-title"> Projects </h2>
{% endblock %}
