{% extends "coprs/group_show.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination, fas_group_href %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  </li>
  <li class="active">
    @{{ group.name }}
  </li>
</ol>
{% endblock %}


{% block show_top %}
<div id="profile">
  <h1>@{{group.name}} Group</h1>
  <p>
    <a href="https://accounts.fedoraproject.org/group/{{ group.fas_name }}" title="{{ group.fas_name }}'s FAS details" target="_blank">FAS details</a> |
    <a href="https://accounts.fedoraproject.org/group/{{ group.fas_name }}" title="{{ group.fas_name }}'s Members" target="_blank">View Members</a>
  </p>
</div>
{% endblock %}


{% block projects_header %}
{% if g.user and g.user.can_build_in_group(group) %}
<div class="btn-group pull-right" role="group" aria-label="Basic example">
  <a href="{{url_for('coprs_ns.copr_add', group_name=group.name) }}" class="btn button-new btn-primary">
    <span class="pficon pficon-add-circle-o"></span>
      New Group Project
  </a>

  <a href="{{ url_for('user_ns.pinned_projects', group_name=group.name) }}" class="btn button-new btn-secondary">
    <span class="pficon pficon-edit"></span> Customize pinned
  </a>
</div>
{% endif %}

<h2 class="page-title">Projects in @{{group.name}} Group</h2>
{% endblock %}
