{% extends "coprs/show.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  </li>
  <li class="active">
    @{{ group.name }}
  </li>
</ol>
{% endblock %}
{% block show_top %}

<div id="profile">
  <h1>Group <strong>@{{group.name|capitalize}}'s</strong> Profile</h1>
  <h2>group is managed in the FAS, under the name
    <strong>{{ group.fas_name }}</strong>
  </h2>
  <p>
      {% if g.user %}
        <a href="mailto:{{ user.mail }}" title="{{ user.mail }}">{{ user.mail }}</a> |
      {% endif %}
  </p>
</div>

<h2>Projects</h2>
{% endblock %}
