{% extends "layout.html" %}
{% block title %}Add a Project{% endblock %}
{% block header %}Add a new Project{% endblock %}
{% from "coprs/_coprs_forms.html" import copr_form with context %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a>
  </li>
  <li>
    <a href="{{ url_for('coprs_ns.coprs_by_user', username=g.user.name) }}">{{ g.user.name }}</a>
  </li>
  <li class="active">
    New Project
  </li>
</ol>
{% endblock %}
{% block body %}

  <h1>Create a New Project</h1>

<p>
You agree to build only <a href="https://docs.pagure.org/copr.copr/user_documentation.html#what-i-can-build-in-copr">allowed content</a> in Copr. Check if your <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses">license</a> is allowed.
</p>
  {{ copr_form(form, view = 'coprs_ns.copr_new', username=g.user.name, comments=comments) }}

{% endblock %}
