{% extends "coprs/detail.html" %}
{% from "_helpers.html" import copr_name, render_form_errors %}
{% block title %}Create module from {{ copr_name(copr) }}{% endblock %}
{% block header %}Create Module{% endblock %}
{% set selected_tab = "modules" %}

{%block project_breadcrumb %}
<li class="active">
    Create Module
</li>
{%endblock%}


{% macro render_field(field) %}
  {{ field(class="form-control", **kwargs)|safe }}
{% endmacro %}


{% macro render_checkbox(name, value, checked=False) %}
  <input type="checkbox" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}> {{ value }}
{% endmacro %}


{% block detail_body %}

  <div class="container">
    <form method="post" action="">
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>Building modules is experimental and in early stage.</strong> At the moment, the UI will not show you the modules you have built.
      </div>

      <h2>Build Module</h2>
      <p> Build a module from your copr repository. Copr will generate a modulemd yaml for your module automatically. <a href="https://fedoraproject.org/wiki/Modularity" class="alert-link" target="_blank">Learn more about Modularity</a>.

      {{ render_form_errors(form) }}

      <div class="row">

        {% for package, build in components_rpms %}
          <input type="hidden" name="{{ 'packages-%s' |format(loop.index0) }}" value="{{ package }}">
          <input type="hidden" name="{{ 'builds-%s' |format(loop.index0) }}" value="{{ build.id }}">
        {% endfor %}


        {% set no_packages = 'No successfully built packages in this project yet' %}

        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Components</h3>
            </div>
            <div class="panel-body" style="border-bottom: 1px solid #ededed;">
              <p class="text-muted">
                <span class="pficon pficon-info"></span>
                Available SRPM packages from this project, that are
                going to be used as the module components.
              </p>
            </div>
            <div class="panel-body">
              <label for="exampleInputEmail1">Packages <span class="text-muted">to be included:</span></label>
              {% for package, build in components_rpms %}
              <div class="checkbox">
                <label>
                  {{ render_checkbox("components-{}".format(loop.index0), package, (package in form.components.data or not form.is_submitted())) }}
                </label>
              </div>
              {% else %}
                <p class="text-muted"><span class="pficon pficon-warning-triangle-o"></span> {{ no_packages }}</p>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Package Filter </h3>
            </div>
            <div class="panel-body" style="border-bottom: 1px solid #ededed;">
              <p class="text-muted"><span class="pficon pficon-info"></span>
                All binary packages are included in the module by
                default. You can specify what packages should be
                filtered out and <b>not be included</b> in the module.
              </p>
            </div>
            <div class="panel-body">

              <label for="exampleInputEmail1">Packages <span class="text-muted">to be included:</span></label>
              {% for package, build in built_packages %}
              <div class="checkbox">
                <label>
                  {{ render_checkbox("filter-{}".format(loop.index0), package, (package in form.filter.data)) }}
                </label>
              </div>
              {% else %}
                <p class="text-muted"><span class="pficon pficon-warning-triangle-o"></span> {{ no_packages }}</p>
              {% endfor %}
            </div>
          </div>
        </div>


        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Module API</h3>
            </div>
            <div class="panel-body" style="border-bottom: 1px solid #ededed;">
              <p class="text-muted"><span class="pficon pficon-info"></span> API is a list of binary packages considered to be the main and stable feature of your module. Other packages are considered implementation detail.</p>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Packages <span class="text-muted">defining API:</span></label>
                {% for package, build in built_packages %}
                <div class="checkbox">
                  <label>
                    {{ render_checkbox("api-{}".format(loop.index0), package, (package in form.api.data)) }}
                  </label>
                </div>
                {% else %}
                  <p class="text-muted"><span class="pficon pficon-warning-triangle-o"></span> {{ no_packages }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Install Profiles</h3>
            </div>
            <div class="panel-body">
              <p class="text-muted"><span class="pficon pficon-info"></span> Module can provide more types of installation - by installing a specific set of packages - by defining install profiles. </p>
            </div>
            {% for i in range(0, profiles) %}
            <ul class="list-group">
              <li class="list-group-item">
                <div class="form-group">
                  <label for="exampleInputEmail1">Profile Name:</label>
                  {{ render_field(form.profile_names[i]) }}
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Packages <span class="text-muted">installed by this profile:</span></label>
                  {% for package, build in built_packages %}
                  <div class="checkbox">
                    <label>
                      {{ render_checkbox("profile_pkgs-{}-{}".format(i, loop.index0), package, (package in form.profile_pkgs[i].data)) }}
                    </label>
                  </div>
                  {% else %}
                    <p class="text-muted"><span class="pficon pficon-warning-triangle-o"></span> {{ no_packages }}</p>
                  {% endfor %}
                </div>
              </li>
            </ul>
            {% endfor %}
            <div class="panel-body">
              <input class="btn btn-default" type="submit" name="add_profile" value="Add a Profile">
            </div>
          </div>
        </div>

      </div>

      <p> Copr will generate the modulemd yaml file and create a modular RPM repository for you. </p>
      <input class="btn btn-primary" type="submit" name="build_module" value="Build Module">

    </form>
  </div>

{% endblock %}
