{% extends "layout.html" %}
{% from "_helpers.html" import copr_title, copr_url, render_crumb %}

{% block title %}{{ copr.owner.name }}/{{ copr.name }} Copr{% endblock %}
{% block main_menu_projects %}active{% endblock %}


{% block breadcrumbs %}
<ol class="breadcrumb">
  {{ render_crumb(url_for('coprs_ns.coprs_show'), 'Home') }}
  {% if copr.is_a_group_project %}
    {{ render_crumb(url_for('groups_ns.list_projects_by_group', group_name=copr.group.name), copr.group.at_name) }}
  {% else %}
    {{ render_crumb(url_for('coprs_ns.coprs_by_owner', username=copr.owner.name), copr.owner.name)}}
  {% endif %}
  {{ render_crumb(copr_url('coprs_ns.copr_detail', copr), copr.name)}}

  {%block project_breadcrumb %}
  {%endblock%}
</ol>
{%endblock%}

{% block body scoped %}

<!-- PROJECT NAME -->
<h1 class="project-name">
  {{ copr_title(copr) }}
</h1>


{% macro nav_element(tab_name, tab_title, href) %}
<li class="{% if selected_tab == tab_name %}active{% endif %}">
  <a href="{{ href }}">
    {{ tab_title }}
  </a>
</li>
{% endmacro %}



<!-- MENU -->
<ul class="nav nav-tabs">

    {{ nav_element("overview", "Overview", copr_url('coprs_ns.copr_detail', copr)) }}

    {{ nav_element("builds", "Builds", copr_url('coprs_ns.copr_builds', copr)) }}

    {{ nav_element("monitor", "Monitor", copr_url('coprs_ns.copr_build_monitor', copr)) }}


    {% if g.user and (not copr.group or g.user == copr.owner or g.user.permissions_for_copr(copr)) %}
      {% set settings_view = 'coprs_ns.copr_edit' if g.user.can_edit(copr) else 'coprs_ns.copr_permissions' %}
      {{ nav_element("settings", "Settings", copr_url(settings_view, copr)) }}
    {% endif %}
</ul>

{% block detail_body %}{% endblock %}
{% endblock %}
