{% extends "layout.html" %}
{% from "_helpers.html" import copr_title, render_crumb %}

{% if copr.is_a_group_project %}
  {% set url_overview = url_for('coprs_ns.group_copr_detail', group_name = copr.group.name, coprname = copr.name) %}
  {% set url_builds =  url_for('coprs_ns.group_copr_builds', group_name = copr.group.name, coprname = copr.name) %}
  {% set url_monitor = url_for('coprs_ns.group_copr_build_monitor', group_name = copr.group.name, coprname = copr.name) %}
  {% set url_add_build = url_for('coprs_ns.group_copr_add_build', group_name = copr.group.name, coprname = copr.name) %}
  {% set url_delete =  url_for('coprs_ns.group_copr_delete', group_name = copr.group.name, coprname = copr.name)  %}
  {% set url_edit = url_for('coprs_ns.group_copr_edit', group_name = copr.group.name, coprname = copr.name) %}
{% else %}
  {% set url_overview = url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) %}
  {% set url_builds =  url_for('coprs_ns.copr_builds', username = copr.owner.name, coprname = copr.name) %}
  {% set url_monitor =  url_for('coprs_ns.copr_build_monitor', username = copr.owner.name, coprname = copr.name)  %}
  {% set url_add_build =  url_for('coprs_ns.copr_add_build', username = copr.owner.name, coprname = copr.name) %}
  {% set url_delete =  url_for('coprs_ns.copr_delete', username = copr.owner.name, coprname = copr.name) %}
  {% set url_edit = url_for('coprs_ns.copr_edit', username = copr.owner.name, coprname = copr.name) %}
{% endif %}

{% block title %}{{ copr.owner.name }}/{{ copr.name }} Copr{% endblock %}
{% block main_menu_projects %}active{% endblock %}


{% block breadcrumbs %}
<ol class="breadcrumb">
  {{ render_crumb(url_for('coprs_ns.coprs_show'), 'Home') }}
  {% if copr.is_a_group_project %}
    {{ render_crumb(url_for('groups_ns.list_projects_by_group', group_name=copr.group.name),
                 copr.group.at_name) }}
    {{ render_crumb(url_for('coprs_ns.group_copr_detail',
                            group_name=copr.group.name, coprname=copr.name),
                    copr.name, active=True) }}
  {% else %}
    {{ render_crumb(url_for('coprs_ns.coprs_by_owner', username=copr.owner.name),
                    copr.owner.name)}}
    {{ render_crumb(url_for('coprs_ns.copr_detail', username=copr.owner.name, coprname=copr.name),
                    copr.name)}}
  {% endif %}

  {%block project_breadcrumb %}
  {%endblock%}
</ol>
{%endblock%}

{% block body scoped %}

<!-- PROJECT NAME -->
<h1 class="project-name">
  {{ copr_title(copr) }}
</h1>


{% macro nav_element(tab_name, tab_title, href) %}
<li class="{% if selected_tab == tab_name %}active{% endif %}">
  <a href="{{ href }}">
    {{ tab_title }}
  </a>
</li>
{% endmacro %}



<!-- MENU -->
<ul class="nav nav-tabs">

    {{ nav_element("overview", "Overview", url_overview) }}

    {{ nav_element("builds", "Builds", url_builds) }}

    {{ nav_element("monitor", "Monitor", url_monitor) }}

    {% if g.user and g.user.can_build_in(copr) %}
      {{ nav_element("add_build", "New Build", url_add_build) }}
    {% endif %}

    {% if g.user and g.user.can_edit(copr) %}
      {{ nav_element("edit", "Edit", url_edit) }}
    {% endif %}

    {% if g.user and not copr.is_a_group_project %}
      {{ nav_element("permissions", "Permissions",  url_for(
          'coprs_ns.copr_permissions', username = copr.owner.name, coprname = copr.name))
      }}
    {% endif %}

    {% if g.user and g.user.can_edit(copr) %}
      {{ nav_element("delete", "Delete", url_delete) }}
    {% endif %}
</ul>

{% block detail_body %}{% endblock %}
{% endblock %}
