{% extends "layout.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination, copr_details_href, copr_name, user_projects_panel %}
{% from "_helpers.html" import recent_builds_panel, task_queue_panel, friendly_os_name, render_project_box %}
{%block main_menu_projects %}active{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-9 col-sm-8">
    {% block show_top %}
    {% endblock %}

    {% block projects_header %}
    {% endblock %}
    <div class="panel panel-default">
      <div class="list-group">
      {% for copr in pinned + coprs %}
        {{ render_project_box(copr, pinned = copr in pinned) }}
      {% else %}
        <p>No projects...</p>
      {% endfor %}
      </div>
    </div>
    {{ render_pagination(request, paginator) }}
  </div>
  <div class="col-md-3 col-sm-4">
    <br>

    {% if g.user %}
      {{ user_projects_panel(g.user) }}
    {% endif %}

    {{ task_queue_panel(tasks_info, graph) }}
    {{ recent_builds_panel(users_builds) }}

  </div>
</div>
{% endblock %}
