{% extends "layout.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% block body %}
    {% if not g.user and not fulltext%}
        <div class="about-copr">
            <p>Copr is an easy-to-use automatic build system providing a package repository as its output.</p>
            <p>Start with making your own repository in these three steps:</p>
            <ol>
                <li>choose an architecture and system you want to build for</li>
                <li>provide Copr with src.rpm packages available online</li>
                <li>let Copr do all the work and wait for your new repo</li>
            </ol>
            <p>For more information please visit <a href="https://fedorahosted.org/copr/">Copr wiki</a></p>
        </div>
    {% endif %}
  <div class="user-info">
  {% if g.user %}
    <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" title="My Projects">
      <img src="{{ g.user.gravatar_url }}" alt="User Image">
    </a>
    <p class="username">{{ g.user.name }}</p>
    <p class="coprs-count">
      <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" title="My Projects">{{ g.user.coprs_count }}</a>
    </p>
    <p class="other-text">projects</p>
  {% endif %}
    <div class="left-side-space">
        <div>
            <a class="menu" href="{{url_for('status_ns.waiting')}}">Task queue</a>
            <div>
                {% if running_tasks: %} 
                    {{running_tasks}}
                {% else: %}
                    No
                {% endif %} running <br> 
                {% if waiting_tasks: %}
                    {{waiting_tasks}}
                {% else: %}
                    No
                {% endif %} waiting
            </div>
        </div>
        <div>
            <a class="menu" href="{{url_for('recent_ns.recent')}}">
                {% if g.user: %} My recent builds {% else %} Recent builds {% endif %}
            </a>
            {% if users_builds: %}
                {% for build in users_builds: %}
                    <div class="recent">
                        <span class="head">
                            <a href="{{url_for("coprs_ns.copr_build", username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id)}}">{{build.id}}</a> - <span class="build build-{{build.state}}">{{build.state}} </span></span><br>
                        <span> {{build.pkgs | pkg_name}} </span> <br>
                        <span class="time">{{build.ended_on|time_ago()}} ago</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
  </div>
  <div class="coprs-list-{% if g.user %}thin{% else %}thin{% endif %}">
    {% if g.user %}
      <div class="add-copr">+
        <a href="{{url_for('coprs_ns.copr_add', username=g.user.name) }}">
          add a new project
        </a>
      </div>
    {% endif %}
    {% if fulltext %}
      <div class="search-results">Displaying results for search "{{ fulltext }}"</div>
    {% endif %}
      {% for copr in coprs %}
        <div class="copr">
          <a class="coprs-list" href="{{ url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) }}">{{ copr.owner.name }}/{{ copr.name }}</a>
          <p>{{ copr.description|markdown|default('Description not filled in by author. Very likely personal repository for testing purpose, which you should not use.', true) }}</p>
          <p class="repos">
            {% for mock_chroot in copr.active_chroots %}
              {{ mock_chroot.os_release|os_name_short(mock_chroot.os_version) }}.{{ mock_chroot.arch }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
      {% else %}
        <p>No projects...</p>
      {% endfor %}
      <div class="pagination">
      	{{ render_pagination(request, paginator) }}
      </div>
  </div>
{% endblock %}
