{% extends "layout.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{%block main_menu_projects %}active{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-9 col-sm-8">
    {% block show_top %}
    {% endblock %}
    <div class="list-group">
    {% for copr in coprs %}
      <!--copr-project-->
      <a href="{{ url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) }}" class="list-group-item">
        <h3 class="list-group-item-heading">{{ copr.owner.name }}/{{ copr.name }}</h3>
        <span class="list-group-item-text">
          {{ copr.description|markdown|remove_anchor|default('Description not filled in by author. Very likely personal repository for testing purpose, which you should not use.', true) }}
          <ul class="list-inline text-muted">
          {% for os in copr.active_chroots_grouped %}
            <li>
              <strong>{{os[0]|capitalize}}:</strong>
              <small>
              {% for arch in os[1] %}
                {{arch}}{% if not loop.last %}, {% endif %}
              {%endfor%}
              </small>
            </li>
          {% endfor %}
          </ul>
        </span>
      </a>
    {% else %}
      <p>No projects...</p>
    {% endfor %}
    </div>
    {{ render_pagination(request, paginator) }}
  </div>
  <div class="col-md-3 col-sm-4">
  <br>
  {% if g.user %}
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{url_for('coprs_ns.copr_add', username=g.user.name) }}" class="btn btn-primary">
          <span class="pficon pficon-add-circle-o"> New Project </span>
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> {{ g.user.name | capitalize}} </h3>
      </div>
      <div class="panel-body">
        <img class="avatar" src="{{ g.user.gravatar_url }}" alt="User Image">
      </div>
      <div class="list-group">
        <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" class="list-group-item">
          <span class="badge">{{ g.user.coprs_count }}</span>
          My projects
        </a>
      </div>
    </div>
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Task Queue </h3>
      </div>
      <div class="list-group">
        <a href="{{url_for('status_ns.importing')}}" class="list-group-item">
          <span class="badge">{{importing_tasks}}</span>
          Importing
        </a>
        <a href="{{url_for('status_ns.waiting')}}" class="list-group-item">
          <span class="badge">{{waiting_tasks}}</span>
          Waiting
        </a>
        <a href="{{url_for('status_ns.running')}}" class="list-group-item">
          <span class="badge">{{running_tasks}}</span>
          Running
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Recent Builds </h3>
      </div>
      <div class="list-group">
      {% for build in users_builds %}
        <a href="{{url_for("coprs_ns.copr_build", username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id)}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{build.pkgs | pkg_name}}</h4>
          <p class="list-group-item-text">
            <small>Project:</small>
            {{build.copr.owner.name}}/{{build.copr.name}}
          </p>
          <p class="list-group-item-text">
            <small>Build:</small>
            {{build.id}}
          </p>
          <p class="list-group-item-text">
            <small>State:</small>
            <span class="build build-{{build.state}}">{{build.state}}</span>
          </p>
          <p class="list-group-item-text">
            <small>Finished:</small>
            {{build.ended_on|time_ago()}} ago
          </p>
        </a>
      {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{url_for('coprs_ns.group_add', username=g.user.name) }}">
          <span class="pficon pficon-add-circle-o"> Add Group </span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
