.navbar-sm { min-height:40px; height: 40px; }
.navbar-sm .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

body {
  background-color: #eee;
}

footer dt h3 {
  margin-top: 0px;
}

h2.section-heading {
    margin-bottom: 20px;
}

div.panel-monitor-menu {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #f6f6f6;
}

div.panel-monitor-menu div.panel-body {
    padding-bottom: 4px;
    padding-top: 4px;
}

div.panel-default div.list-group:first-child {
  border-top: 0px!important;
}

div.panel-body dl:last-child {
  margin-bottom: 0px;
}

div.panel-body table:last-child {
  margin-bottom: 0px;
}

div.panel-heading-buttons {
  padding-top: 0px;
  padding-bottom: 0px;
}

div.panel-heading-buttons h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.panel-heading-buttons div.btn-group {
  margin-left: 20px;
  margin-top: 6px;
}

.button-new {
  margin-top: 20px;
}

.button-build-action {
  margin-top: 20px;
  margin-left: 10px;
}

h2.page-title {
  margin-bottom: 20px;
}

.breadcrumb {
  padding: 3px 15px;
}

#content {
  background-color: white;
}

h1.project-name {
  margin-bottom: 20px;
}

.alert:first-child {
  margin-top: 20px;
}

footer > div{
  background-color: #eee;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#main-bar {
  background-image: url('header_background.png');
  background-repeat: repeat-x;
  height: 75px;
  color: white;
  //margin-bottom: 30px;
}

#main-bar .container {
  padding-top: 4px;
}

#login-menu {
  margin-bottom: 8px;
  font-weight: bold;
}

#login-menu a{
  color: white;
}

#logo {
  position: relative;
  top: 6px;
  height: 58px;
}

div.breadcrumb-panel {
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div.breadcrumb-panel ol.breadcrumb {
  margin-bottom: 0px;
}

.build-pending,.build-pending>a {
  color: #55b;
}

.build-starting,.build-starting>a {
  color: #c84;
}

.build-importing,.build-importing>a {
  color: #55b;
}

.build-running,.build-running>a {
  color: #c84;
}

.build-succeeded,.build-succeeded>a {
  color: #272;
}

.build-forked,.build-forked>a {
  color: #272;
}

.build-skipped,.build-skipped>a {
  color: #272;
}

.build-failed,.build-failed>a {
  color: #c44;
}

.build-cancelled,.build-cancelled>a {
  color: #666;
}

#profile {
  height: 88px;
}

#profile h1 {
  padding-top: 15px;
}

#profile p {
  color: #ddd;
}

#profile img {
  float: left;
  margin-right: 20px;
}

img.avatar {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.alert ul {
  margin-left: 0px;
  padding-left: 0px;
}

table.permissions {
  margin-bottom: 0px;
}

.highlight pre {
  font-size: 12px !important;
}
