.navbar-sm { min-height:40px; height: 40px; }
.navbar-sm .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

h1.project-name {
  margin-bottom: 20px;
}

#main-bar {
  background-image: url('header_background.png');
  background-repeat: repeat-x;
  height: 75px;
  color: white;
  //margin-bottom: 30px;
}

#main-bar .container {
  padding-top: 4px;
}

#login-menu {
  margin-bottom: 8px;
  font-weight: bold;
}

#login-menu a{
  color: white;
}

#logo {
  position: relative;
  top: 6px;
  height: 58px;
}

div.breadcrumb-panel {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

div.breadcrumb-panel ol.breadcrumb {
  margin-bottom: 0px;
}

.build-pending,.build-pending>a {
  color: #55b;
}

.build-starting,.build-starting>a {
  color: #c84;
}

.build-importing,.build-importing>a {
  color: #55b;
}

.build-running,.build-running>a {
  color: #c84;
}

.build-succeeded,.build-succeeded>a {
  color: #272;
}

.build-skipped,.build-skipped>a {
  color: #272;
}

.build-failed,.build-failed>a {
  color: #c44;
}

.build-cancelled,.build-cancelled>a {
  color: #666;
}

#profile {
  min-height: 88px;
  margin-bottom: 20px;
}

#profile h1 {
  padding-top: 15px;
}

#profile p {
  color: #ddd;
}

#profile img {
  float: left;
  margin-right: 20px;
}

img.avatar {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.alert ul {
  margin-left: 0px;
  padding-left: 0px;
}
