.navbar-sm { min-height:40px; height: 40px; }
.navbar-sm .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

body {
  background-color: #eee;
}

footer dt h3 {
  margin-top: 0px;
}

h2.section-heading {
    margin-bottom: 20px;
}

div.panel-monitor-menu {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #f6f6f6;
}

div.panel-monitor-menu div.panel-body {
    padding-bottom: 4px;
    padding-top: 4px;
}

div.panel-default div.list-group:first-child {
  border-top: 0px!important;
}

div.panel-body dl:last-child {
  margin-bottom: 0px;
}

div.panel-body table:last-child {
  margin-bottom: 0px;
}

div.panel-heading-buttons {
  padding-top: 0px;
  padding-bottom: 0px;
}

div.panel-heading-buttons h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.panel-heading-buttons div.btn-group {
  margin-left: 20px;
  margin-top: 6px;
}

.button-new {
  margin-top: 20px;
}

.button-build-action {
  margin-top: 20px;
  margin-left: 10px;
}

h2.page-title {
  margin-bottom: 20px;
}

.breadcrumb {
  padding: 3px 15px;
}

#content {
  background-color: white;
}

h1.project-name {
  margin-bottom: 20px;
}

.alert:first-child {
  margin-top: 20px;
}

footer > div{
  background-color: #eee;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#main-bar {
  background-image: url('header_background.png');
  background-repeat: repeat-x;
  height: 75px;
  color: white;
  //margin-bottom: 30px;
}

#main-bar .container {
  padding-top: 4px;
}

#login-menu {
  margin-bottom: 8px;
  font-weight: bold;
}

#login-menu a{
  color: white;
}

#logo {
  position: relative;
  top: 6px;
  height: 58px;
}

div.breadcrumb-panel {
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div.breadcrumb-panel ol.breadcrumb {
  margin-bottom: 0px;
}

.build-pending,.build-pending>a {
  color: #55b;
}

.build-starting,.build-starting>a {
  color: #c84;
}

.build-importing,.build-importing>a {
  color: #55b;
}

.build-running,.build-running>a {
  color: #c84;
}

.build-succeeded,.build-succeeded>a {
  color: #272;
}

.build-forked,.build-forked>a {
  color: #272;
}

.build-skipped,.build-skipped>a {
  color: #272;
}

.build-failed,.build-failed>a {
  color: #c44;
}

.build-cancelled,.build-cancelled>a {
  color: #666;
}

#profile {
  height: 88px;
}

#profile h1 {
  padding-top: 15px;
}

#profile p {
  color: #ddd;
}

#profile img {
  float: left;
  margin-right: 20px;
}

img.avatar {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.alert ul {
  margin-left: 0px;
  padding-left: 0px;
}

table.permissions {
  margin-bottom: 0px;
}

.highlight pre {
  font-size: 12px !important;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err {} /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
