.navbar-sm { min-height:40px; height: 40px; }
.navbar-sm .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

body {
  background-color: #eee;
}

footer dt h3 {
  margin-top: 0px;
}

h2.section-heading {
    margin-bottom: 20px;
}

tr:hover td {
    background-color: #ECECEC;
}

div.panel-monitor-menu {
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #f6f6f6;
}

div.panel-monitor-menu div.panel-body {
    padding-bottom: 4px;
    padding-top: 4px;
}

div.panel-default div.list-group:first-child {
  border-top: 0px!important;
}

div.panel-body dl:last-child {
  margin-bottom: 0px;
}

div.panel-body table:last-child {
  margin-bottom: 0px;
}

div.panel-heading-buttons {
  padding-top: 0px;
  padding-bottom: 0px;
}

div.panel-heading-buttons h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.panel-heading-buttons div.btn-group {
  margin-left: 20px;
  margin-top: 6px;
}

.button-new {
  margin-top: 20px;
}

.button-build-action {
  margin-top: 20px;
  margin-left: 10px;
}

h2.page-title {
  margin-bottom: 20px;
}

.breadcrumb {
  padding: 3px 15px;
}

#content {
  background-color: white;
}

h1.project-name {
  margin-bottom: 20px;
}

#customize-profile-title {
  margin-bottom: 22px;
  margin-top: 22px;
}

.alert:first-child {
  margin-top: 20px;
}

footer > div{
  background-color: #eee;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#main-bar {
  background-image: url('header_background.png');
  background-repeat: repeat-x;
  height: 75px;
  color: white;
  /*margin-bottom: 30px;*/
}

#main-bar .container {
  padding-top: 4px;
}

#login-menu {
  margin-bottom: 8px;
  font-weight: bold;
}

#login-menu a{
  color: white;
}

#logo {
  position: relative;
  top: 6px;
  height: 58px;
}

div.breadcrumb-panel {
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div.breadcrumb-panel ol.breadcrumb {
  margin-bottom: 0px;
}

.build-pending,.build-pending>a {
  color: #55b;
}

.build-starting,.build-starting>a {
  color: #c84;
}

.build-importing,.build-importing>a {
  color: #55b;
}

.build-running,.build-running>a {
  color: #c84;
}

.build-succeeded,.build-succeeded>a {
  color: #272;
}

.build-forked,.build-forked>a {
  color: #272;
}

.build-skipped,.build-skipped>a {
  color: #272;
}

.build-failed,.build-failed>a {
  color: #c44;
}

.build-cancelled,.build-cancelled>a {
  color: #666;
}

#profile {
  min-height: 88px;
}

#profile h1 {
  padding-top: 15px;
}

#profile p {
  color: #ddd;
}

#profile #profile-description p {
  color: #555;
}

#profile > img.avatar {
  float: left;
  margin-right: 20px;
}

#profile-description {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 15px;
}

#profile-description img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

#profile #profile-description hr {
  border: 0;
  border-top: 1px solid #bbb;
  margin: 14px 0;
}


img.avatar {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: content-box;
  max-width: 80px;
  max-height: 80px;
}

.alert ul {
  margin-left: 0px;
  padding-left: 0px;
}

table.permissions {
  margin-bottom: 0px;
}

.copr-markdown pre code {
  font-size: 12px !important;
}

.copr-markdown pre code .hll { background-color: #ffffcc }
.copr-markdown pre code { background: #f8f8f8; }
.copr-markdown pre code .c { color: #408080; font-style: italic } /* Comment */
.copr-markdown pre code .k { color: #008000; font-weight: bold } /* Keyword */
.copr-markdown pre code .o { color: #666666 } /* Operator */
.copr-markdown pre code .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.copr-markdown pre code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.copr-markdown pre code .cp { color: #BC7A00 } /* Comment.Preproc */
.copr-markdown pre code .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.copr-markdown pre code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.copr-markdown pre code .cs { color: #408080; font-style: italic } /* Comment.Special */
.copr-markdown pre code .gd { color: #A00000 } /* Generic.Deleted */
.copr-markdown pre code .ge { font-style: italic } /* Generic.Emph */
.copr-markdown pre code .gr { color: #FF0000 } /* Generic.Error */
.copr-markdown pre code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.copr-markdown pre code .gi { color: #00A000 } /* Generic.Inserted */
.copr-markdown pre code .go { color: #888888 } /* Generic.Output */
.copr-markdown pre code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.copr-markdown pre code .gs { font-weight: bold } /* Generic.Strong */
.copr-markdown pre code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.copr-markdown pre code .gt { color: #0044DD } /* Generic.Traceback */
.copr-markdown pre code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.copr-markdown pre code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.copr-markdown pre code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.copr-markdown pre code .kp { color: #008000 } /* Keyword.Pseudo */
.copr-markdown pre code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.copr-markdown pre code .kt { color: #B00040 } /* Keyword.Type */
.copr-markdown pre code .m { color: #666666 } /* Literal.Number */
.copr-markdown pre code .s { color: #BA2121 } /* Literal.String */
.copr-markdown pre code .na { color: #7D9029 } /* Name.Attribute */
.copr-markdown pre code .nb { color: #008000 } /* Name.Builtin */
.copr-markdown pre code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.copr-markdown pre code .no { color: #880000 } /* Name.Constant */
.copr-markdown pre code .nd { color: #AA22FF } /* Name.Decorator */
.copr-markdown pre code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.copr-markdown pre code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.copr-markdown pre code .nf { color: #0000FF } /* Name.Function */
.copr-markdown pre code .nl { color: #A0A000 } /* Name.Label */
.copr-markdown pre code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.copr-markdown pre code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.copr-markdown pre code .nv { color: #19177C } /* Name.Variable */
.copr-markdown pre code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.copr-markdown pre code .w { color: #bbbbbb } /* Text.Whitespace */
.copr-markdown pre code .mb { color: #666666 } /* Literal.Number.Bin */
.copr-markdown pre code .mf { color: #666666 } /* Literal.Number.Float */
.copr-markdown pre code .mh { color: #666666 } /* Literal.Number.Hex */
.copr-markdown pre code .mi { color: #666666 } /* Literal.Number.Integer */
.copr-markdown pre code .mo { color: #666666 } /* Literal.Number.Oct */
.copr-markdown pre code .sa { color: #BA2121 } /* Literal.String.Affix */
.copr-markdown pre code .sb { color: #BA2121 } /* Literal.String.Backtick */
.copr-markdown pre code .sc { color: #BA2121 } /* Literal.String.Char */
.copr-markdown pre code .dl { color: #BA2121 } /* Literal.String.Delimiter */
.copr-markdown pre code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.copr-markdown pre code .s2 { color: #BA2121 } /* Literal.String.Double */
.copr-markdown pre code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.copr-markdown pre code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.copr-markdown pre code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.copr-markdown pre code .sx { color: #008000 } /* Literal.String.Other */
.copr-markdown pre code .sr { color: #BB6688 } /* Literal.String.Regex */
.copr-markdown pre code .s1 { color: #BA2121 } /* Literal.String.Single */
.copr-markdown pre code .ss { color: #19177C } /* Literal.String.Symbol */
.copr-markdown pre code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.copr-markdown pre code .fm { color: #0000FF } /* Name.Function.Magic */
.copr-markdown pre code .vc { color: #19177C } /* Name.Variable.Class */
.copr-markdown pre code .vg { color: #19177C } /* Name.Variable.Global */
.copr-markdown pre code .vi { color: #19177C } /* Name.Variable.Instance */
.copr-markdown pre code .vm { color: #19177C } /* Name.Variable.Magic */
.copr-markdown pre code .il { color: #666666 } /* Literal.Number.Integer.Long */

#project-score button {
  background: none !important;
}

.text-green {
  color: #00A000;
}

#homepage-jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

#homepage-jumbotron h2 {
  text-align: center;
  font-size: 35px;
}

#homepage-jumbotron h2 > span {
  color: #214d8b;
}

#homepage-jumbotron form {
  margin-top: 15px;
  margin-bottom: 15px;
}

#homepage-jumbotron p {
  font-size: 14px;
}

.documentation-cards, .col-sm-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-padding {
  padding-left: 10px;
}

.documentation-cards h3 {
  text-align: center;
}

.documentation-cards span {
  margin-top: 5px;
}

.documentation-cards {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.documentation-cards i.fa {
  font-size: 30px;
  float:left;
  margin-right: 12px;
}

.outage-warning {
  text-align: center;
}
