---
- name: GitHub PR Processing
  when: lookup('env', 'PACKIT_PR_ID') != ""
  block:
    - name: Fetch PR data from GitHub
      ansible.builtin.command: >
        curl --location --connect-timeout 60 --retry 5 --retry-delay 20
        --remote-time --show-error --fail
        https://api.github.com/repos/fedora-copr/copr/pulls/{{ lookup('env', 'PACKIT_PR_ID') }}
      register: raw_pr_response

    - name: Set pull request related variables
      ansible.builtin.set_fact:
        pull_request_id: "{{ lookup('env', 'PACKIT_PR_ID') }}"
        pull_request_head_sha: "{{ (raw_pr_response.stdout | from_json).head.sha }}"
        pull_request_commits: "{{ (raw_pr_response.stdout | from_json).commits }}"

- name: pre-release copr packages
  community.general.copr:
    name: '@copr/copr-dev'

- name: install packages needed when testing
  package:
    name:
      - git  # git is need to analyze which packages changed
      - jq  # needed to detect the list of built packages
    state: latest

- name: Install the script for pre-release package installation
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /usr/local/bin/{{ item }}
    mode: '0755'
  loop:
    - install-pre-release-packages

- name: Execute the script
  ansible.builtin.command: install-pre-release-packages
  register: packages_installed

- name: Present stdout/stderr
  debug:
    var: packages_installed
