{% extends "layout.html" %}
{% block title %}Coprs List{% endblock %}
{% block header %}Coprs List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% block body %}
  {% if g.user %}
  <div class="user-info">
    <img src="{{ url_for('static', filename='default_user.png') }}" alt="User Image">
    <p>{{ g.user.name }}</p>
    <p class="coprs-count">{{ g.user.coprs_count }}</p>
    <p class="other-text">coprs</p>
  </div>
  {% endif %}
  <div class="coprs-list-{% if g.user %}thin{% else %}thick{% endif %}">
    {% if g.user %}
      <div class="add-copr">+ <a href={{ url_for('coprs_ns.copr_add') }}>add a new Copr</a></div>
    {% endif %}
      {% for copr in coprs %}
        <div class="copr">
          <a href="{{ url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) }}">{{ copr.owner.name }}/{{ copr.name }}</a>
	  <p>description blah blah blah</p>
          <p class="repos">F18 blah blah</p>
        </div>
      {% else %}
        <p>No coprs...</p>
      {% endfor %}
    <div class="pagination">
      {{ render_pagination(request, paginator) }}
    </div>
  </div>
{% endblock %}
