{% extends "layout.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% block body %}
  {% if g.user %}
  <div class="user-info">
    <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" title="My Projects">
      <img src="{{ g.user.gravatar_url }}" alt="User Image">
    </a>
    <p>{{ g.user.name }}</p>
    <p class="coprs-count">
      <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" title="My Projects">{{ g.user.coprs_count }}</a>
    </p>
    <p class="other-text">projects</p>
  </div>
  {% endif %}
  <div class="coprs-list-{% if g.user %}thin{% else %}thick{% endif %}">
    {% if g.user %}
      <div class="add-copr">+
        <a href={{ url_for('coprs_ns.copr_add', username=g.user.name) }}>
          add a new project
        </a>
      </div>
    {% endif %}
    {% if fulltext %}
      <div class="search-results">Displaying results for search "{{ fulltext }}"</div>
    {% endif %}
      {% for copr in coprs %}
        <div class="copr">
          <a class="coprs-list" href="{{ url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) }}">{{ copr.owner.name }}/{{ copr.name }}</a>
	  <p>{{ copr.description_or_not_filled|safe }}</p>
	  <p class="repos">
	    {% for mock_chroot in copr.active_chroots %}
              {{ mock_chroot.os_release|os_name_short(mock_chroot.os_version) }}.{{ mock_chroot.arch }}{% if not loop.last %}, {% endif %}
	    {% endfor %}
	  </p>
        </div>
      {% else %}
        <p>No projects...</p>
      {% endfor %}
      <div class="pagination">
      	{{ render_pagination(request, paginator) }}
      </div>
  </div>
{% endblock %}
