{% extends "layout.html" %}
{% block title %}Coprs List{% endblock %}
{% block header %}Coprs List{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% block body %}
  {% if g.user %}
  <div class="user-info">
    <a href="{{ url_for('coprs_ns.coprs_by_owner', username=g.user.name) }}" title="My Coprs">
      <img src="{{ url_for('static', filename='default_user.png') }}" alt="User Image">
    </a>
    <p>{{ g.user.name }}</p>
    <p class="coprs-count">{{ g.user.coprs_count }}</p>
    <p class="other-text">coprs</p>
  </div>
  {% endif %}
  <div class="coprs-list-{% if g.user %}thin{% else %}thick{% endif %}">
    {% if g.user %}
      <div class="add-copr">+ <a href={{ url_for('coprs_ns.copr_add') }}>add a new Copr</a></div>
    {% endif %}
    {% if fulltext %}
      <div class="search-results">Displaying results for search "{{ fulltext }}"</div>
    {% endif %}
      {% for copr in coprs %}
        <div class="copr">
          <a href="{{ url_for('coprs_ns.copr_detail', username = copr.owner.name, coprname = copr.name) }}">{{ copr.owner.name }}/{{ copr.name }}</a>
	  <p>{{ copr.description_or_not_filled }}</p>
	  <p class="repos">
	    {% for mock_chroot in copr.mock_chroots %}
              {{ mock_chroot.os_release|os_name_short(mock_chroot.os_version) }}.{{ mock_chroot.arch }}{% if not loop.last %}, {% endif %}
	    {% endfor %}
	  </p>
        </div>
      {% else %}
        <p>No coprs...</p>
      {% endfor %}
      <div class="pagination">
      	{{ render_pagination(request, paginator) }}
      </div>
  </div>
{% endblock %}
