div.pypi-python-version {
	cursor: default;
}

div.pypi-python-version input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.pypi-python-version label {
	margin-bottom: -5px;
	vertical-align:middle;
}

div.anitya-rebuild input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.anitya-rebuild label {
	margin-bottom: -5px;
	vertical-align:middle;
}

code {
    white-space: pre-wrap;
}

span.build-waiting {
    color: #666666;
}

span.padding {
    width: 5px;
    display: inline-block;
}

input.short-input-field {
    width: 6em;
}

input.input-field-12em {
    width: 12em;
}

.table_footer {
	padding: 7px 0 0 0;
	background: #f5f5f5;
	margin: 0;
	min-width: 54rem;
	border-left: 1px #d1d1d1 solid;
	border-right: 1px #d1d1d1 solid;
	border-bottom: 1px #d1d1d1 solid;
}

#project-score button {
    border: none;
}

#project-score {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
}
