div.pypi-python-version {
	cursor: default;
}

div.pypi-python-version input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.pypi-python-version label {
	margin-bottom: -5px;
	vertical-align:middle;
}

div.anitya-rebuild input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.anitya-rebuild label {
	margin-bottom: -5px;
	vertical-align:middle;
}

code {
    white-space: pre-wrap;
}

span.build-waiting {
    color: #666666;
}

span.padding {
    width: 5px;
    display: inline-block;
}

input.short-input-field {
    width: 10em;
}
