.footer dd ul{padding-left:0;list-style:none}
.list-group-item-heading{font-weight:700}
pre{background-color:#f8f8f8;padding: 9.5px 9.5px 0px 9.5px;}
pre code div {margin-bottom:-11px; margin-top:-2px; font-size:12px}
.c3-circles-avg-running{display: none;}
