{% extends "status.html" %}
{% from "_helpers.html" import build_href, copr_name, copr_details_href, initialize_datatables, status_info %}
{% block running_selected %}active{% endblock %}
{%block status_breadcrumb %}
<li class="active">
  Running
</li>
{%endblock%}
{% block status_body %}
<h2>{%if number == 0:%}
        No tasks
    {%elif number == 1:%}
        {{number}} task
    {%elif number == 300:%}
        {{number}}+ tasks
    {%else%}
        {{number}} tasks
    {%endif%}
    are running
</h2>

{{ status_info(type="running", tasks=tasks) }}

{{ initialize_datatables(order="desc") }}
{% endblock %}
