{% extends "status.html" %}
{% block title %} Statistics - Copr {% endblock %}
{% from "_helpers.html" import build_href, copr_name, copr_details_href %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('patternfly_static', filename='css/patternfly-additions.min.css') }}">
{% endblock %}
{% block stats_selected %}active{% endblock %}
{%block status_breadcrumb %}
<li class="active">
  Statistics
</li>
{%endblock%}
{% block status_body %}
<noscript>
This page uses JavaScript to show graphs of Copr utilization.
</noscript>
<div id="graphs" class="hidden">
  <div class="row">
    <h3>Running tasks during last 24 hours</h3>
    <div id="chartDay" class="line-chart-pf"></div>
  </div>
  <div class="row">
    <h3>Running tasks during last 90 days</h3>
      <div id="chartNinetyDays" class="line-chart-pf"></div>
  </div>
  <div class="row">
    <h3>Running tasks divided by chroots</h3>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h4>During last 24 hours</h4>
      <div id="chartChrootsDay"></div>
    </div>
    <div class="col-md-5">
      <h4>During last 90 days</h4>
      <div id="chartChrootsNinetyDays"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='components/c3/c3.min.js') }}"></script>
<script src="{{ url_for('static', filename='components/d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
<script>
  lineGraph({{ data1|tojson }}, 25, "#chartDay", "%H:%M");
  lineGraph({{ data2|tojson }}, 15, "#chartNinetyDays", "%Y-%m-%d");
  chrootGraph({{ chroots1|tojson }}, "#chartChrootsDay");
  chrootGraph({{ chroots2|tojson }}, "#chartChrootsNinetyDays");
</script>
{% endblock %}
