{% extends "layout.html" %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% from "_helpers.html" import render_pagination, copr_details_href, copr_name %}
{% from "_helpers.html" import render_field, render_form_errors %}
{%block main_menu_projects %}active{% endblock %}




{% block body %}
  <h3>
    Activate FAS group <strong>"{{ fas_group }}"</strong> in the Copr.
  </h3>

  <p>Please choose wisely! The name can not be changed later. And the active group can not be deactivated.</p>
  <form class="form-horizontal"
        method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ render_field(form.name, label="Group alias to use in the Copr") }}


    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
