---
- name: install client packages
  package:
    name:
      - copr-cli
    state: installed

- name: Create user '{{ copr_username }}'
  ansible.builtin.user:
    name: "{{ copr_username }}"
    state: present
    shell: /bin/bash
  register: user_created

- name: create user in copr database
  ansible.builtin.command: >
    sudo -i -u copr-fe copr-frontend add-user
    {{ copr_username }} {{copr_username}}@example.com
  when: user_created.changed

- name: "generate the token file for {{ copr_username }}"
  ansible.builtin.command: >
    sudo -i -u copr-fe copr-frontend-create-cli-token "{{ copr_username }}"
  when: user_created.changed

- name: Ensure ~/.config directory exists for user '{{ copr_username }}'
  ansible.builtin.file:
    path: "/home/{{ copr_username }}/.config"
    state: directory
    owner: "{{ copr_username }}"
    group: "{{ copr_username }}"
    mode: '0700'

- name: create the token file
  copy:
    src: "/var/lib/copr/data/manually-created-user-tokens/{{ copr_username }}"
    dest: "/home/{{ copr_username }}/.config/copr"
    remote_src: true
    mode: '0600'
    owner: "{{ copr_username }}"
    group: "{{ copr_username }}"

- name: install packages needed for tests
  package:
    name:
      - beakerlib
      - dnf5-plugins
      - expect
      - findutils
      - git
      - hostname
      - htop
      - info  # needed by our built&installed hello package
      - iputils
      - jq
      - net-tools
      - procps-ng
      - python3-behave
      - python3-hamcrest
      - rpm-build
      - sudo
      - tmux
      - util-linux-script
      - vim
      - wget

- name: test environment hacks, inspired by DockerTestEnv/Dockerfile
  shell: |
    for repo in fedora updates updates-testing; do \
    dnf -y config-manager setopt $repo.excludepkgs=hello ; done
    echo 'set -g history-limit 40960' > /root/.tmux.conf
    mkdir -p /root/.config
    cp "/home/{{ copr_username }}/.config/copr" /root/.config/

    cat <<EOF | sudo -u copr-fe psql
    update "user" set "admin" = true, "openid_groups" = '{"fas_groups": ["gitcopr"]}' where username = 'single-host-testing';
    insert into "group" (name, fas_name) values ('copr', 'gitcopr');
    insert into dist_git_instance ("name", "clone_url", "clone_package_uri", "priority", "default_namespace")  values ('centos',        'https://git.centos.org', '{namespace}/rpms/{pkgname}.git', 80, '');
    insert into dist_git_instance ("name", "clone_url", "clone_package_uri", "priority", "default_namespace")  values ('centos-stream', 'https://gitlab.com',     'redhat/centos-stream/rpms/{pkgname}.git', 90, '');
    EOF

- name: install dnf copr config for tested instance
  copy:
    content: |
      [tested-copr]
      hostname = {{ frontend_hostname }}
      protocol = https
      port = 443
    mode: '0644'
    dest: /etc/dnf/plugins/copr.d/tested-copr.conf

- name: Add persistent local route for Public IP
  community.general.nmcli:
    conn_name: "lo"
    type: loopback
    ip4: "{{ frontend_hostname }}/32"
    state: present
  tags: hack_local_route
