[Unit]
Description=Copr Backend service, Action Dispatcher component
After=syslog.target network.target auditd.service
Before=copr-backend.service
PartOf=copr-backend.service
Wants=logrotate.service

[Service]
Type=simple
Environment="PYTHONPATH=/usr/share/copr/"
User=copr
Group=copr
ExecStart=/usr/bin/copr_run_action_dispatcher.py
# we don't want to kill background action processors (daemoncontext)
KillMode=process

[Install]
WantedBy=multi-user.target
