[Unit]
Description=Copr Backend service
After=syslog.target network.target auditd.service
Requires=copr-backend-log.service copr-backend-build.service copr-backend-action.service
Wants=logrotate.timer

[Install]
WantedBy=multi-user.target
