[Unit]
Description=Copr Backend service, Log Handler component
After=syslog.target network.target auditd.service
Before=copr-backend.service copr-backend-vmm.service
PartOf=copr-backend.service
Wants=logrotate.service

[Service]
Type=simple
Environment="PYTHONPATH=/usr/share/copr/"
User=copr
Group=copr
ExecStart=/usr/bin/copr_run_logger.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
