[Unit]
Description=Copr Backend service, Virtual Machine Management component
After=syslog.target network.target auditd.service
PartOf=copr-backend.service
Wants=logrotate.timer

[Service]
Type=simple
Environment="PYTHONPATH=/usr/share/copr/"
User=copr
Group=copr
ExecStart=/usr/bin/copr_run_vmm.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
