[Unit]
Description=Copr Backend service, Build Dispatcher component
After=syslog.target network.target auditd.service
PartOf=copr-backend.target
Wants=logrotate.timer

[Service]
Type=simple
User=copr
Group=copr
ExecStart=/usr/bin/copr-run-dispatcher builds
# we don't want to kill background action processors (daemoncontext)
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
