[Unit]
Description=Copr Backend service
After=syslog.target network.target auditd.service
Requires=copr-backend-vmm.service copr-backend-log.service copr-backend-build.service copr-backend-action.service
Wants=logrotate.timer

[Service]
Type=oneshot
RemainAfterExit=True
PIDFile=/var/run/copr-backend/copr-be.pid
Environment="PYTHONPATH=/usr/share/copr/"
User=copr
Group=copr
ExecStart=/usr/bin/copr_be.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
