[Unit]
Description=GPG Sign Daemon
After=syslog.target
Wants=logrotate.timer

[Service]
Type=forking
PIDFile=/var/run/signd.pid
Environment="GNUPGHOME=/var/lib/copr-keygen/gnupg"
ExecStart=/usr/sbin/signd -f
Restart=on-abort
