html, body {
  font-family: Cantarell, "Droid Sans", Verdana, sans-serif;
  font-size: 1em;

  color: #666666;
  margin: 0px;
  padding: 0px;
}

a {
  color: #3d69a8;
  text-decoration: none;
}

h1 {
  font-weight: normal;
  color: #3d69a8;
}

h2 {
  font-size: 1.1em;
}

#logo {
  position: relative;
  top: 8px;
}

div.menu {
  font-size: 0.9em;
  background-image: url("header_background.png");
  background-repeat: repeat-x;
  height: 81px;
  margin-bottom: 3em;
}

div.flash {
  background-color: #f9f9f9;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.pagination {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin: 1em;
}

div.login, div.login a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 250%;
  text-align: right;

  position: relative;
  margin-left: 0.3em;
}

div.login {
  float: right;
}

div.login .text {
  font-weight: normal;
}

div.page, div.menu-inner {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

div.user-info {
  width: 174px;
  margin-right: 25px;
  float: left;
  border-right: 1px solid #c3c3c3;

  color: #565656;
  font-size: 1.5em;
  font-weight: bold;
}

div.user-info .coprs-count {
  margin: 0px;
  font-size: 0.8em;
}

div.user-info .other-text {
  margin: 0px;
  font-size: 0.6em;
}

div.coprs-list-thin, div.coprs-list-thick {
  float: left;
}

div.coprs-list-thin {
  width: 580px;
}

div.coprs-list-thick {
  width: 100%;
}

div.copr {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.copr * {
  padding-left: 1em;
  padding-right: 1em;
}

div.copr a {
  font-size: 1.4em;
  font-weight: bold;
  display: block;
}

div.copr p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

div.copr .repos {
  color: #808080;
}

div.search-results {
  font-size: 1.3em;
  text-align: center;
}

div.add-copr {
  background-color: #ececec;
  padding: 0.5em;
  margin-bottom: 0.6em;

  color: #cccccc;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: bold;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.add-copr a {
  text-decoration: none;
  color: #666666;
}

div.horizontal-menu {
  background-color: #ededed;
  height: 3em;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div.horizontal-menu a {
  display: block;
  padding: 0.6em;
  font-size: 1.1em;
  font-weight: bold;
  color: #4d4d4d;
}

div.horizontal-menu ul {
  margin: 0px;
  padding: 0px;
  float: left;
}

div.horizontal-menu li {
  display: inline;
  float: left;
}

div.horizontal-menu li.selected a, div.horizontal-menu li.left-for-now a {
  color: #db3279;
  margin-left: auto;
  margin-right: auto;
}

div.horizontal-menu li.selected a, div.horizontal-menu li.hovered a {
  background: url("pink_arrow.png") no-repeat;
  background-position: center bottom;
}

div.pkg-url-list {
  white-space: pre;
  background-color: #f9f9f9;
  font-family: monospace;
  padding: 1em;
  line-height: 120%;
  font-size: 1.1em;
}

div.shift-right {
  margin-left: 1em;
}

dt.field-label {
  font-weight: bold;
}

input.rounded {
  padding-left: 4px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

input.fulltext-submit {
  color: white;
  font-weight: bold;
  background-color: #3d69a8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

p.form-error {
  color: red;
}

table.releases {
  width: 100%;
  border-collapse:collapse;
}

table.chroots-set {
  display: inline;
}

table.builds-table {
  width: 100%;
}

table.builds-table form {
  display: inline;
}

table.builds-table tr.details {
  width: 100%;
  display: none;
}

tr.build-state:hover {
  text-decoration: underline;
}

tr.build-pending {
  color: #3B6EB4;
}

tr.build-running {
  color: #FF6600;
}

tr.build-succeeded {
  color: #22DD22;
}

tr.build-failed {
  color: #DD2222;
}

tr.build-canceled {
  color: #CDC90C;
}

table.releases th {
  background-color: #f2f2f2;
}

table.releases th.leftmost {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

table.releases th.rightmost {
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

table.releases tr.release-end {
  border-bottom: 3px solid #f2f2f2;
}

form.legal-flag, form.legal-flag input {
  color: #888888;
  margin-top: 5px;
}

div.legal-flag {
  margin: 10px;
  font-size: 1.2em;
}

div.legal-flag div.message {
  display: none;
  margin-bottom: 10px;
  font-size: 1em;
}

div.legal-flag form {
  display: inline;
  text-align: right;
  float: right;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}


.footer {
    padding: 25px;
    background: white;
    font-size: 0.8em;
}

.footer p {
    margin: 0 auto;
    width: 300px;
}

.footer a {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #444;
}

.footer .last {
    border-right: none;
}

.required:before {
    content: "* ";
    color: red;
    font-weight: bold;
}

