---
apiVersion: v1
kind: Pod
metadata:
  name: copr-frontend
  namespace: copr
  labels:
    app: copr
    component: frontend
spec:
  containers:
    - name: frontend
      image: copr-frontend:latest
      imagePullPolicy: Never
      env:
        - name: REDIS_HOST
          value: "redis"
      ports:
        - containerPort: 5000
          hostPort: 5000
          protocol: TCP
      resources:
        limits:
          memory: "1Gi"
          cpu: "1000m"
  restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: copr
spec:
  selector:
    component: frontend
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
