---
apiVersion: v1
kind: Pod
metadata:
  name: copr-redis
  namespace: copr
  labels:
    app: copr
    component: redis
spec:
  containers:
    - name: redis
      image: copr-redis:latest
      imagePullPolicy: Never
      ports:
        - containerPort: 6379
          protocol: TCP
      volumeMounts:
        - name: redis-data
          mountPath: /data
      resources:
        limits:
          memory: "256Mi"
          cpu: "200m"
  volumes:
    - name: redis-data
      persistentVolumeClaim:
        claimName: copr-redis-data
  restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: copr
spec:
  selector:
    component: redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
