[cli]
base_url = "http://localhost:5006"
api_root = "/pulp/"
domain = "default"
username = "admin"
password = "{{ pulp_admin_password['content'] | b64decode }}"
cert = ""
key = ""
verify_ssl = false
format = "json"
dry_run = false
timeout = 360
verbose = 0
