[backend]
results_baseurl=https://{{ frontend_hostname }}/results
frontend_base_url=https://{{ frontend_hostname }}
frontend_auth={{ be_fe_token["content"] | b64decode }}
destdir=/var/lib/copr/public_html/results
statsdir=/var/lib/copr/public_html/stats
do_sign=true
keygen_host=localhost:8080

[ssh]
builder_config=/home/copr/.ssh/config
