policy_module(copr,@@VERSION@@)

## <desc>
## <p>
## Allow Copr BE to work with data (/var/lib/copr/public_html) stored
## on NFS-mounted directories.
## </p>
## </desc>
gen_tunable(copr_nfs_mountpoint,false)

require {
        type httpd_t;
        class dir { write getattr read remove_name open add_name create rmdir};
        class file { rename write getattr read create open lock unlink};
}

type copr_data_t;
files_type(copr_data_t);

type copr_httpd_log_t;
logging_log_file(copr_httpd_log_t);

#============= httpd_t ==============
allow httpd_t copr_data_t:dir { write getattr read remove_name open add_name create rmdir search};
allow httpd_t copr_data_t:file { rename write getattr read create open lock unlink};
