policy_module(copr,@@VERSION@@)

## <desc>
## <p>
## Allow Copr BE to work with data (/var/lib/copr/public_html) stored
## on NFS-mounted directories.
## </p>
## </desc>
gen_tunable(copr_nfs_mountpoint,false)

require {
        type httpd_t;
        type git_script_t;
        type git_user_content_t;
        type gpg_web_t;
        type syslogd_t;
        type auditd_log_t;
        type httpd_var_lib_t;
        type user_tmp_t;
        class dir { write getattr read remove_name open add_name create rmdir};
        class file { rename write getattr read create open lock unlink};
}

type copr_data_t;
files_type(copr_data_t);

type copr_httpd_log_t;
logging_log_file(copr_httpd_log_t);

#============= httpd_t ==============
allow httpd_t copr_data_t:dir { write getattr read remove_name open add_name create rmdir search};
allow httpd_t copr_data_t:file { rename write getattr read create open lock unlink ioctl link };

optional_policy(`
gen_require(` class file map; ')
allow httpd_t copr_data_t:file map;
')

allow httpd_t copr_httpd_log_t:file  { rename write getattr read create open lock unlink };
allow httpd_t copr_httpd_log_t:dir { write getattr read remove_name open add_name create search};

# dist-git
allow git_script_t git_user_content_t:lnk_file read;
allow httpd_t git_user_content_t:dir read;
allow httpd_t git_user_content_t:file { getattr read open };
allow syslogd_t auditd_log_t:dir search;
allow syslogd_t auditd_log_t:file { read getattr open ioctl };

#keygen
allow httpd_t httpd_var_lib_t:sock_file { create getattr setattr unlink write };
allow gpg_web_t httpd_var_lib_t:dir { search getattr read write add_name remove_name };
allow gpg_web_t httpd_var_lib_t:file { getattr read open write create unlink rename link };
allow gpg_web_t httpd_var_lib_t:sock_file { getattr write create };
allow gpg_web_t user_tmp_t:dir { search };
