{% macro build_states() %}
{% from "_helpers.html" import build_state_text %}
    <dl class="aligned">
        <div>
            <dt> Possible build states: </dt>
            {% for state in [
              "importing",
              "pending",
              "starting",
              "running",
              "succeeded",
              "forked",
              "skipped",
              "failed",
              "canceled",
              "waiting",
            ]%}
            <dd>
                {{ build_state_text(state) }}
                - {{state|build_state_description}}
            </dd>

            {% endfor %}
        </div>
    </dl>
{% endmacro %}
