{% from "_helpers.html" import render_field, render_form_errors, copr_url, render_pypi_python_versions_field %}

{# This file contains forms for the "New Build" action

  General Form Helpers: (contain everything except build source)
    - copr_build_form_begin
    - copr_build_form_end

  Specific Forms: (contain only build source)
    - copr_build_form_url
    - copr_build_form_upload

  One Button Forms:
    - copr_build_repeat_form
    - copr_build_cancel_form
    - copr_build_delete_form


  How to create a Specific Form:
    1. include copr_build_form_begin
    2. render all the fields that specify the build source
    3. include copr_build_form_end
#}



{#####  GENERAL FORM HELPERS  #####}

{% macro copr_build_form_begin(form, view, copr, build=None, hide_panels=False) %}
    {{ render_form_errors(form, [form._mock_chroots_error]) }}
    <form class="form-horizontal"
          action="
          {% if not build %}
            {{ copr_url(view, copr) }}
          {% else %}
            {{ copr_url(view, copr, build_id=build.id) }}
          {% endif %}"
          method="post" enctype="multipart/form-data">
  {% if not hide_panels %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">2. Provide the source</h3>
      </div>
      <div class="panel-body">
  {% endif %}
{% endmacro %}


{% macro copr_build_form_end(form, view, copr, hide_panels=False) %}
  {% if not hide_panels %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">3. Select chroots and other options</h3>
      </div>
      <div class="panel-body">
  {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
          Chroots
        </label>
        <div class="col-sm-10">
        {% for group_set, chs in form.chroots_sets.items() %}{% for ch in chs %}
          <div class="checkbox">
            <label>
              {{ form|attr(ch) }}
              {{ form|attr(ch)|attr('label') }}
            </label>
          </div>
        {% endfor %}{% endfor %}
        </div>
      </div>
      {{ form.csrf_token }}
      {% if g.user.proven %}
        {{ render_field(form.memory_reqs) }}
        {{ render_field(form.timeout) }}
      {% else %} {# once we pass the hidden attribute, the field will just be hidden, it seems #}
        {{ render_field(form.memory_reqs, hidden = True) }}
        {{ render_field(form.timeout, hidden = True) }}
      {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
        Other Options
        </label>
        <div class="col-sm-10">
        {{ form.enable_net(checked=copr.build_enable_net) }} Enable internet access during this build
        </div>
      </div>
  {% if not hide_panels %}
      </div>
    </div>
  {% endif %}

      <p>
        You agree to build only <a href="https://fedorahosted.org/copr/wiki/UserDocs#WhatIcanbuildinCopr">allowed content</a> in Copr.
        Check if your <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses">license</a> is allowed.
      </p>

      <input class="btn btn-primary" type="submit" value="Build">
    </form>
{% endmacro %}

{% macro source_description(description) %}
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Source Description:
    </label>
    <div class="col-sm-10">
      {{ description | safe }}
    </div>
  </div>
{% endmacro %}



{#####  SPECIFIC FORMS  #####}


{% macro copr_build_form_url(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

    {{ source_description('Please upload your SRPM(s) on a public server and provide link(s) to the form below. This is the only option to submit more builds at once.')}}

    {{ render_field(form.pkgs, label='URLs to SRPM Files', rows = 10, cols = 50) }}

  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_upload(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

      {{ source_description("Upload your SRPM directly to Copr.")}}

      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
        SRPM File:
        </label>
        <div class="col-sm-10">
          {{ form.pkgs }}
        </div>
      </div>

  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_tito(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

    {{ source_description('This method uses <a href="https://github.com/dgoodwin/tito">Tito</a> in a Git repository to create the SRPM for you automatically. Please provide the Git URL.')}}

    {{ render_field(form.git_url, placeholder="Public clone URL of your git repository.") }}
    {{ render_field(form.git_directory, placeholder="Optional - A directory in the git containing the spec file.") }}
    {{ render_field(form.git_branch, placeholder="Optional - A Git branch you want to build from.") }}
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textInput-markup">
      Tito Options
      </label>
      <div class="col-sm-10">
      {{ form.tito_test() }} Build with the --test option. (build the last commit instead of the last release tag)
      </div>
    </div>

    <input type="hidden" name="source_type" value="git_and_tito" />
  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_mock(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

    {{ source_description('This method uses an <a href="https://fedoraproject.org/wiki/Projects/Mock/Plugin/Scm">SCM plugin for Mock</a> in a Git or SVN repository to create the SRPM for you automatically. Please provide the Git or SVN URL.')}}

    {{ render_field(form.scm_type) }}
    {{ render_field(form.scm_url, placeholder="URL to your Git or SVN repository") }}

    {{ render_field(form.spec, placeholder="Path from repository root directory to your .spec file") }}
    {{ render_field(form.scm_branch, placeholder="Optional - A branch you want to build from.") }}

    <input type="hidden" name="source_type" value="mock_scm" />
  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_pypi(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

    {{ source_description('This method uses <a href="https://github.com/fedora-python/pyp2rpm">pyp2rpm</a> to create the RPM for you automatically from PyPI - the Python Package Index. Please provide the package name.')}}

    {{ render_field(form.pypi_package_name, placeholder="Package name in the Python Package Index.") }}
    {{ render_field(form.pypi_package_version, placeholder="Optional - Version of the package PyPI") }}
    {{ render_pypi_python_versions_field(form.python_versions) }}

    <input type="hidden" name="source_type" value="pypi" />
  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_rebuild(form, view, copr, build) %}
  {{ copr_build_form_begin(form, view, copr, build, hide_panels=True) }}
  {{ copr_build_form_end(form, view, copr, hide_panels=True) }}
{% endmacro %}


{% macro copr_build_cancel_form(build, page, class="") %}
  {% if build.cancelable %}
    <form class="{{class}}" action="{{ copr_url('coprs_ns.copr_cancel_build', build.copr, build_id=build.id) }}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-close"></span> Cancel
      </button>
    </form>
  {% endif %}
{% endmacro %}

{% macro copr_build_repeat_form(build, page, class="") %}
  {% if build.repeatable %}
    <form class="{{class}}" action="{{ copr_url('coprs_ns.copr_repeat_build', build.copr, build_id=build.id) }}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-restart"></span> Resubmit
      </button>
    </form>
  {% endif %}
{% endmacro %}

{% macro copr_build_delete_form(build, page, class="") %}
  {% if build.deletable %}
    <form class="{{class}}" action="{{ url_for('coprs_ns.copr_delete_build', username=build.copr.owner.name, coprname=build.copr.name, build_id=build.id)}}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-delete"></span> Delete
      </button>
    </form>
  {% endif %}
{% endmacro %}
