{% from "coprs/detail/_builds_forms.html" import copr_build_cancel_form, copr_build_repeat_form, copr_build_delete_form %}
{% from "_helpers.html" import build_href_from_sql, build_state, initialize_datatables %}

{% macro builds_table(builds) %}
{% if builds %}
<noscript><p>WARNING!! This page is using JavaScript to filter and sort the table.</p></noscript>
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Build ID</th>
        <th>Package Name</th>
        <th>Package Version</th>
        <th>Submitted</th>
        <th>Build Time</th>
        <th>Status</th>

        {% if g.user and g.user.can_build_in(copr) %}
        <th data-orderable="false"><a href="#" onclick="$('tr.build-row :checkbox').prop('checked', $('tr.build-row :checkbox').length != $('tr.build-row :checkbox:checked').length); return false;">Mark all</a></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {# builds here is not a build object #}
    {% for build in builds %}
      <tr class="build-row" >
        <td data-order="{{ build.id }}">
          <b><a href="{{ build_href_from_sql(build) }}">
            {{ build.id }}
          </a></b>
        </td>
        <td>
            {# When builds are queried with custom SQL select #}
            {% if build.pkg_name %}
                {{ build.pkg_name }}
            {# When builds are really a ``models.Build`` instances #}
            {% elif build.package_name %}
                {{ build.package_name }}
            {% else %}
                 -
            {% endif %}
        </td>
        <td>
            {% if build.pkg_version %}
                {{ build.pkg_version}}
            {% else %}
                 -
            {% endif %}
        </td>
        <td data-order="{{build.submitted_on}}"> {{ build.submitted_on|time_ago() }} ago </td>
        <td data-order="{{build.started_on|timestamp_diff(build.ended_on)}}"> {{ build.started_on|time_ago(build.ended_on) }} </td>
        <td>
          {{ build_state(build) }}
        </td>

        {% if g.user and g.user.can_build_in(copr) %}
        <td>
          <input type="checkbox" name="build_ids" value="{{ build.id }}"></input>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No builds so far</h3>
{% endif %}

{{ initialize_datatables() }}

{% endmacro %}
