{% from "_helpers.html" import render_field, render_form_errors %}

{# This file contains forms for the "New Build" action

  General Form Helpers: (contain everything except build source)
    - copr_build_form_begin
    - copr_build_form_end

  Specific Forms: (contain only build source)
    - copr_build_form_url
    - copr_build_form_upload

  One Button Forms:
    - copr_build_repeat_form
    - copr_build_cancel_form
    - copr_build_delete_form


  How to create a Specific Form:
    1. include copr_build_form_begin
    2. render all the fields that specify the build source
    3. include copr_build_form_end
#}



{#####  GENERAL FORM HELPERS  #####}

{% macro copr_build_form_begin(form, view, copr) %}
    {{ render_form_errors(form, [form._mock_chroots_error]) }}
    <form class="form-horizontal" action="{{ url_for(view, username=copr.owner.name, coprname=copr.name) }}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
          Chroots
        </label>
        <div class="col-sm-10">
        {% for group_set, chs in form.chroots_sets.items() %}{% for ch in chs %}
          <div class="checkbox">
            <label>
              {{ form|attr(ch) }}
              {{ form|attr(ch)|attr('label') }}
            </label>
          </div>
        {% endfor %}{% endfor %}
        </div>
      </div>
{% endmacro %}


{% macro copr_build_form_end(form, view, copr) %}
      {{ form.csrf_token }}
      {% if g.user.proven %}
        {{ render_field(form.memory_reqs) }}
        {{ render_field(form.timeout) }}
      {% else %} {# once we pass the hidden attribute, the field will just be hidden, it seems #}
        {{ render_field(form.memory_reqs, hidden = True) }}
        {{ render_field(form.timeout, hidden = True) }}
      {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
        Build Options
        </label>
        <div class="col-sm-10">
        {{ form.enable_net(checked=copr.build_enable_net) }} Enable internet access during this build
        </div>
      </div>

      <p> 
        You agree to build only <a href="https://fedorahosted.org/copr/wiki/UserDocs#WhatIcanbuildinCopr">allowed content</a> in Copr.
        Check if your <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses">license</a> is allowed.
      </p>

      <input class="btn btn-primary" type="submit" value="Build">
    </form>
{% endmacro %}


{#####  SPECIFIC FORMS  #####}

{% macro copr_build_form_url(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

    {{ render_field(form.pkgs, label='URLs of packages to build', rows = 10, cols = 50) }}

  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}


{% macro copr_build_form_upload(form, view, copr) %}
  {{ copr_build_form_begin(form, view, copr) }}

      <div class="form-group">
        <label class="col-sm-2 control-label" for="textInput-markup">
        Package File
        </label>
        <div class="col-sm-10">
          {{ form.pkgs }}
        </div>
      </div>

  {{ copr_build_form_end(form, view, copr) }}
{% endmacro %}



{% macro copr_build_cancel_form(build, page) %}
  {% if build.cancelable %}
    <form action="{{ url_for('coprs_ns.copr_cancel_build', username=build.copr.owner.name, coprname=build.copr.name, build_id=build.id)}}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-close"> Cancel</span>
      </button>
    </form>
  {% endif %}
{% endmacro %}

{% macro copr_build_repeat_form(build, page) %}
  {% if build.repeatable %}
    <form action="{{ url_for('coprs_ns.copr_repeat_build', username=build.copr.owner.name, coprname=build.copr.name, build_id=build.id)}}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-restart"> Resubmit</span>
      </button>
    </form>
  {% endif %}
{% endmacro %}

{% macro copr_build_delete_form(build, page) %}
  {% if build.deletable %}
    <form action="{{ url_for('coprs_ns.copr_delete_build', username=build.copr.owner.name, coprname=build.copr.name, build_id=build.id)}}" method="post">
      <input type="hidden" value="page" value="{{ page }}">
      <button class="btn btn-default" type="submit">
        <span class="pficon pficon-delete"> Delete</span>
      </button>
    </form>
  {% endif %}
{% endmacro %}
