{% macro describe_source(source_type_text, source_json_dict, is_package=False) %}
  <dt>Source Type:</dt>
  {% if is_package and (source_type_text == "link" or source_type_text == "upload") %}
    <dd>No default source</dd> {# source types link & upload only make sense for builds, not for packages #}
  {% else %}
    <dd>{{ source_type_text | build_source_description }}</dd>
  {% endif %}

  {% if source_type_text == "link" and not is_package %}
  <dt>Package URL:</dt>
  <dd>
    <a href="{{ source_json_dict["url"] }}">{{ source_json_dict["url"] }}</a>
  </dd>

  {% elif source_type_text == "upload" and not is_package %}
  <dt>File Name:</dt>
  <dd>{{ source_json_dict["pkg"] }}</dd>

  {% elif source_type_text == "git_and_tito" %}
  <dt>Git URL:</dt>
  <dd>{{ source_json_dict["git_url"] }}</dd>

  <dt>Local directory in Git:</dt>
  <dd>{{ source_json_dict["git_dir"] }}</dd>

  <dt>Git branch:</dt>
  <dd>{{ source_json_dict["git_branch"] }}</dd>

  <dt>Using test mode:</dt>
  <dd>{{ source_json_dict["tito_test"] }}</dd>

  {% elif source_type_text == "mock_scm" %}
  <dt>SCM type:</dt>
  <dd>{{ source_json_dict["scm_type"] }}</dd>

  <dt>SCM URL:</dt>
  <dd>{{ source_json_dict["scm_url"] }}</dd>

  <dt>SCM branch:</dt>
  <dd>{{ source_json_dict["scm_branch"] }}</dd>

  <dt>SCM subdirectory:</dt>
  <dd>{{ source_json_dict["scm_subdir"] }}</dd>

  <dt>Path to .spec file:</dt>
  <dd>{{ source_json_dict["spec"] }}</dd>

  {% elif source_type_text == "pypi" %}
  <dt>PyPI package name</dt>
  <dd>{{ source_json_dict["pypi_package_name"] }}</dd>

  {% if source_json_dict["pypi_package_version"] %}
  <dt>PyPI package version</dt>
  <dd>{{ source_json_dict["pypi_package_version"] }}</dd>
  {% endif %}

  <dt>for Python</dt>
  <dd>{{ ', '.join(source_json_dict["python_versions"]).strip(', ') }}</dd>
  {% endif %}

  {% if source_type_text == "rubygems" %}
  <dt>Gem name:</dt>
  <dd>{{ source_json_dict["gem_name"] }}</dd>
  {% endif %}

{% endmacro %}
