{% from "_helpers.html" import render_field %}
{% macro copr_method_form_fileds_custom(form) %}
  {{ render_field(
        form.script,
        rows=5,
        style='font-family: monospace;',
        placeholder="#! /bin/sh -x",
        info='write a script that generates spec and sources... (Internet ON, non-root UID)
              <a href="https://docs.pagure.org/copr.copr/custom_source_method.html">Documentation</a>'
  )}}
  {{ render_field(
        form.chroot,
        placeholder="fedora-latest-x86_64",
        info="what chroot to run the <strong>script</strong> in") }}
  {{ render_field(form.repos, rows=5, cols=50, placeholder='Optional - URL to additional yum repos, which can be used during build. Space separated. This should be baseurl from .repo file. E.g.: http://copr-be.cloud.fedoraproject.org/results/rhughes/f20-gnome-3-12/fedora-$releasever-$basearch/') }}
  {{ render_field(form.builddeps, placeholder="Optional - space-separated list of packages",
        info="packages that the <strong>script</strong> requires for its execution" ) }}
  {{ render_field(form.resultdir, placeholder="Optional - directory where SCRIPT generates sources",
                  info="path relative to the <strong>script</strong>'s current
                  working directory") }}
{% endmacro %}
