{% from "_helpers.html" import copr_url %}
{% from "_helpers.html" import module_state, initialize_datatables %}

{% macro modules_table(modules) %}
{% if modules %}
<noscript><p>WARNING!! This page is using JavaScript to filter and sort the table.</p></noscript>
<table class="datatable table table-striped table-bordered">
    <thead>
    <tr>
        <th>Module ID</th>
        <th>Module Name</th>
        <th>Module Instance</th>
        <th>Submitted</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for module in modules %}
    <tr class="build-row" >
        <td data-order="{{ module.id }}">
            <b><a href="{{ copr_url('coprs_ns.copr_module', copr, id=module.id) }}">
                {{ module.id }}
            </a></b>
        </td>
        <td>{{ module.name }}</td>
        <td>{{ module.full_name }}</td>
        <td data-order="{{ module.created_on }}"> {{ module.created_on|time_ago() }} ago </td>
        <td>{{ module_state(module) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>No modules so far</h3>
{% endif %}

{{ initialize_datatables() }}

{% endmacro %}
