{% from "_helpers.html" import copr_url %}
{% from "coprs/detail/_package_forms.html" import
   copr_package_form_tito,
   copr_package_form_mock,
   copr_package_form_pypi,
   copr_package_form_rubygems,
with context %}


{% macro nav_element(tab_name, tab_title, href) %}
  <li class="{% if source_type_text == tab_name %}active{% endif %}">
    <a href="{{ href }}">
      {{ tab_title }}
    </a>
  </li>
{% endmacro %}

{% macro show_navigation(copr, view) %}
  {# kwargs: pass package_name='...' when editing the package #}
  <ul class="nav nav-tabs nav-tabs-pf">
    {{ nav_element("scm-1", "SCM-1", copr_url(view, copr, source_type_text="git_and_tito", **kwargs)) }}
    {{ nav_element("scm-2", "SCM-2", copr_url(view, copr, source_type_text="mock_scm", **kwargs)) }}
    {{ nav_element("pypi", "PyPI", copr_url(view, copr, source_type_text="pypi", **kwargs)) }}
    {{ nav_element("rubygems", "RubyGems", copr_url(view, copr, source_type_text="rubygems", **kwargs)) }}
  </ul>
{% endmacro %}

{% macro show_package_form(source_type_text, package) %}
  {% if source_type_text == "git_and_tito" %}
    {{ copr_package_form_tito(form_tito, view, copr, package) }}

  {% elif source_type_text == "mock_scm" %}
    {{ copr_package_form_mock(form_mock, view, copr, package) }}

  {% elif source_type_text == "pypi" %}
    {{ copr_package_form_pypi(form_pypi, view, copr, package) }}

  {% elif source_type_text == "rubygems" %}
    {{ copr_package_form_rubygems(form_rubygems, view, copr, package) }}

  {% else %}
    <h3>Wrong source type</h3>
  {% endif %}
{% endmacro %}
