{% from "_helpers.html" import copr_url, build_state, initialize_datatables %}

{% macro packages_table(packages) %}
{% if packages %}
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Build Version</th>
        <th>Last Build Submitted</th>
        <th>Last Build Status</th>
        <th>Automatic Build</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {# packages here is not a package object #}
    {% for package in packages %}
      <tr>
        <td data-order="{{ package.name }}">
          <b><a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a></b>
        </td>

        <td data-order="{{ package.pkg_version }}">
          {% if package.pkg_version %}
            {{ package.pkg_version }}
          {% else %}
            -
          {% endif %}
        </td>

        <td data-order="{{ package.submitted_on }}">
          {% if package.submitted_on  %}
            {{ package.submitted_on|time_ago() }} ago
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {{ build_state(package) }}
        </td>

        <td data-order="{{ package.webhook_rebuild }}">
            {% if package.webhook_rebuild %}
              Enabled
            {% else %}
              Disabled
            {% endif %}
        </td>

        <td>
          {% if g.user and g.user.can_build_in(copr) %}
          <a class="btn btn-default btn-sm"
             href="{{ copr_url('coprs_ns.copr_rebuild_package', copr, package_name=package.name) }}">
            <span class="pficon pficon-restart"></span> Rebuild
          </a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No packages so far</h3>
{% endif %}

{{ initialize_datatables(order="asc") }}

{% endmacro %}
