{% macro packages_table(packages) %}
{% if packages %}
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Version</th>
        <th>Builds</th>
        <th>Last Built</th>
        <th>Dist Git</th>
      </tr>
    </thead>
    <tbody>
    {% for package in packages %}
      <tr>
        <td>
          {{ package.name }}
        </td>
        <td>
          no idea
        </td>
        <td>
          {% for b in  package.builds %}{{b.id}} ; {%endfor%}
        </td>
        <td>
          no idea
        </td> 
        <td>
          {{ package.dist_git }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No packages so far</h3>
{% endif %}

<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable({
      "order": [[ 0, "desc" ]]
    });
  });
</script>

{% endmacro %}
