{% from "_helpers.html" import render_field, render_form_errors, copr_url, render_pypi_python_versions_field %}

{% macro copr_package_form_begin(form, view, copr, package) %}
  {{ render_form_errors(form) }}
      {% if not package.name %}  {# Add package #}
        <form class="form-horizontal" action="{{ copr_url(view, copr, source_type_text=source_type_text) }}" method="post" enctype="multipart/form-data">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">2. Provide the source</h3>
            </div>
            <div class="panel-body">
              {{ render_field(form.package_name) }}
      {% else %}  {# Edit package #}
        <form class="form-horizontal" action="{{ copr_url(view, copr, source_type_text=source_type_text, package_name=package.name) }}"
              method="post" enctype="multipart/form-data">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">2. Provide the source</h3>
            </div>
            <div class="panel-body">
              <input type="hidden" name="package_name" value="{{ package.name }}" />
      {% endif %}
{% endmacro %}


{% macro copr_package_form_end(form, package, source_type_text) %}
  {{ form.csrf_token }}
    </div>
  </div>
  <p>
    You agree to build only <a href="https://docs.pagure.org/copr.copr/user_documentation.html#what-i-can-build-in-copr">allowed content</a> in Copr.
    Check if your <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses">license</a> is allowed.
  </p>
  <input class="btn btn-primary pull-left" type="submit" value="Submit">
  {% if package.name %}<input class="btn btn-default pull-right" type="submit" name="reset" value="Reset">{% endif %}
</form>
{% endmacro %}

{% macro render_webhook_rebuild(form) %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup">
      Webhook rebuild
    </label>
    <div class="col-sm-10">
      <input type="checkbox" name="webhook_rebuild" {% if form.webhook_rebuild.data == True %}checked="checked"{% endif %}/>
      Use webhook to rebuild package? (i.e. every commit or tag in git repository)
      | See <a href="{{ copr_url('coprs_ns.copr_webhooks', copr) }}">Webhooks Settings</a>
    </div>
  </div>
{% endmacro %}

{% macro render_anitya_autorebuild(form) %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup">
      Anitya autorebuild:
    </label>
    <div class="col-sm-10 anitya-rebuild">
      <input type="checkbox" name="webhook_rebuild" id="anitya_rebuild" {% if form.webhook_rebuild.data == True %}checked="checked"{% endif %}/>
      <label for="webhook_rebuild" style="display:inline">Use Anitya emitted message to rebuild this package (you also need to register respective PyPI package on <a href="https://release-monitoring.org/">release-monitoring.org</a>). At the current state, Anitya update messages are emitted twice a day but you can also trigger a manual emission.</label>
    </div>
  </div>
{% endmacro %}

{% macro copr_package_delete_form(package, page, class="") %}
  <form class="{{ class }}" action="{{ copr_url('coprs_ns.copr_delete_package', package.copr, package_id=package.id)}}" method="post">
    <input type="hidden" value="page" value="{{ page }}">
    <button class="btn btn-default" type="submit" onclick="return confirm('Do you really want to remove the package?');">
      <span class="pficon pficon-delete"></span> Delete
    </button>
  </form>
{% endmacro %}

{% macro copr_package_form_tito(form, view, copr, package) %}
  {{ copr_package_form_begin(form, view, copr, package) }}

  {{ render_field(form.git_url, placeholder="Public clone URL of your git repository.") }}
  {{ render_field(form.git_directory, placeholder="Optional - A directory in the git containing the spec file.") }}
  {{ render_field(form.git_branch, placeholder="Optional - A Git branch you want to build from.") }}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup">
      Tito Options
    </label>
    <div class="col-sm-10">
      {{ form.tito_test() }} Build with the --test option. (build the last commit instead of the last release tag)
    </div>
  </div>

  {{ render_webhook_rebuild(form) }}
  {{ copr_package_form_end(form, package, 'git_and_tito') }}
{% endmacro %}


{% macro copr_package_form_mock(form, view, copr, package) %}
  {{ copr_package_form_begin(form, view, copr, package) }}

  {{ render_field(form.scm_type) }}
  {{ render_field(form.scm_url, placeholder="URL to your Git or SVN repository") }}
  {{ render_field(form.scm_subdir, placeholder="Optional - Subdirectory where source files and .spec are located.") }}
  {{ render_field(form.spec, placeholder="Optional - Path to your .spec file under the specified subdirectory.") }}
  {{ render_field(form.scm_branch, placeholder="Optional - A branch you want to build from.") }}

  {{ render_webhook_rebuild(form) }}
  {{ copr_package_form_end(form, package, 'mock_scm') }}
{% endmacro %}


{% macro copr_package_form_pypi(form, view, copr, package) %}
    {{ copr_package_form_begin(form, view, copr, package) }}
    {{ render_field(form.pypi_package_name, placeholder="Package name in the Python Package Index.") }}
    {{ render_pypi_python_versions_field(form.python_versions) }}
    {{ render_anitya_autorebuild(form) }}
    {{ copr_package_form_end(form, package, 'rubygems') }}
{% endmacro %}


{% macro copr_package_form_rubygems(form, view, copr, package) %}
  {{ copr_package_form_begin(form, view, copr, package) }}
  {{ render_field(form.gem_name, placeholder="Gem name from RubyGems.org") }}
  {{ render_anitya_autorebuild(form) }}
  {{ copr_package_form_end(form, package, 'rubygems') }}
{% endmacro %}
