{% from "_helpers.html" import render_field, render_form_errors %}

{% macro copr_package_form_begin(form, view, copr, package) %}
  {{ render_form_errors(form) }}
  {% if not build %}
    <form class="form-horizontal"
      action="
        {% if copr.is_a_group_project %}
          {{ url_for(view, group_name=copr.group.name, coprname=copr.name, package_name=package.name) }}
        {% else %}
          {{ url_for(view, username=copr.owner.name, coprname=copr.name, package_name=package.name) }}
        {% endif %}"
        method="post" enctype="multipart/form-data">
  {% else %}
    <form class="form-horizontal"
      action="
        {% if copr.is_a_group_project %}
          {{ url_for(view, group_name=copr.group.name, coprname=copr.name, package_name=package.name) }}
        {% else %}
          {{ url_for(view, username=copr.owner.name, coprname=copr.name, package_name=package.name) }}
        {% endif %}"
        method="post" enctype="multipart/form-data">
  {% endif %}
{% endmacro %}


{% macro copr_package_form_end(form) %}
  {{ form.csrf_token }}
  <input class="btn btn-primary pull-right" type="submit" value="Submit">
</form>
{% endmacro %}


{% macro copr_package_form_tito(form, view, copr, package) %}
  {{ copr_package_form_begin(form, view, copr, package) }}

  {{ render_field(form.git_url, placeholder="Public clone URL of your git repository.") }}
  {{ render_field(form.git_directory, placeholder="Optional - A directory in the git containing the spec file.") }}
  {{ render_field(form.git_branch, placeholder="Optional - A Git branch you want to build from.") }}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textInput-markup">
      Tito Options
    </label>
    <div class="col-sm-10">
      {{ form.tito_test() }} Build with the --test option. (build the last commit instead of the last release tag)
    </div>
  </div>
  <input type="hidden" name="source_type" value="git_and_tito" />

  {{ copr_package_form_end(form) }}
{% endmacro %}


{% macro copr_package_form_mock(form, view, copr, package) %}
  {{ copr_package_form_begin(form, view, copr, package) }}

  {{ render_field(form.scm_type) }}
  {{ render_field(form.scm_url, placeholder="URL to your Git or SVN repository") }}
  {{ render_field(form.spec, placeholder="Path from repository root directory to your .spec file") }}
  {{ render_field(form.scm_branch, placeholder="Optional - A branch you want to build from.") }}
  <input type="hidden" name="source_type" value="mock_scm" />

  {{ copr_package_form_end(form) }}
{% endmacro %}
