{% from "_helpers.html" import copr_url %}
{% from "coprs/detail/_package_forms.html" import
   copr_package_form_tito,
   copr_package_form_mock,
   copr_package_form_pypi,
   copr_package_form_rubygems,
with context %}

{% macro badge(source_type_text) %}
  {% if package.source_type_text == source_type_text %}
    <span class="badge"><span class="fa fa-check"></span></span>
  {% endif %}
{% endmacro %}

{% macro nav_element(tab_name, tab_title, href) %}
  <li class="{% if source_type_text == tab_name %}active{% endif %}">
    <a href="{{ href }}">
      {{ tab_title }}
    </a>
  </li>
{% endmacro %}

{% macro show_navigation(copr, view) %}
  {# kwargs: pass package_name='...' when editing the package #}
  <ul class="nav nav-tabs nav-tabs-pf">
    {{ nav_element("git_and_tito", "Git and Tito", copr_url(view, copr, source_type_text="git_and_tito", **kwargs)) }}
    {{ nav_element("mock_scm", "Mock SCM", copr_url(view, copr, source_type_text="mock_scm", **kwargs)) }}
    {{ nav_element("pypi", "PyPI", copr_url(view, copr, source_type_text="pypi", **kwargs)) }}
    {{ nav_element("rubygems", "RubyGems", copr_url(view, copr, source_type_text="rubygems", **kwargs)) }}
  </ul>
{% endmacro %}

{% macro show_package_form(source_type_text, package) %}
  {% if source_type_text == "git_and_tito" %}
    <h3>Tito {{ badge('git_and_tito') }}</h3>
    {{ copr_package_form_tito(form_tito, view, copr, package) }}

  {% elif source_type_text == "mock_scm" %}
    <h3>Mock {{ badge('mock_scm') }}</h3>
    {{ copr_package_form_mock(form_mock, view, copr, package) }}

  {% elif source_type_text == "pypi" %}
    <h3>PyPI {{ badge('pypi') }}</h3>
    {{ copr_package_form_pypi(form_pypi, view, copr, package) }}

  {% elif source_type_text == "rubygems" %}
    <h3>RubyGems {{ badge('rubygems') }}</h3>
    {{ copr_package_form_rubygems(form_rubygems, view, copr, package) }}

  {% else %}
    <h3>Wrong source type</h3>
  {% endif %}
{% endmacro %}
