{% extends "coprs/detail.html" %}
{% from "_helpers.html" import nav_element %}
{% block title %}Adding Build for {{ copr.owner.name }}/{{ copr.name }}{% endblock %}

{% set selected_tab = "add_build" %}

{%block project_breadcrumb %}
<li class="active">
  <a href="{{ url_add_build }}">
      New Build
  </a>
</li>
{%endblock%}

{% block detail_body %}
{#
<h2> Submit a New Build </h2>
Select the source type and submit a new build. Options in this form are relevant to this build only and will not change any settings of the project itself.
#}

{% macro nav_element(tab_name, tab_title, href) %}
<li class="{% if add_build_tab == tab_name %}active{% endif %}">
  <a href="{{ href }}">
    {{ tab_title }}
  </a>
</li>
{% endmacro %}

{% if copr.is_a_group_project %}
  {% set url_add_build_url = url_for('coprs_ns.group_copr_add_build', group_name = copr.group.name, coprname = copr.name) %}
  {% set url_add_build_upload = url_for('coprs_ns.group_copr_add_build_upload', group_name = copr.group.name, coprname = copr.name) %}
{% else %}
  {% set url_add_build_url = url_for('coprs_ns.copr_add_build', username = copr.owner.name, coprname = copr.name) %}
  {% set url_add_build_upload = url_for('coprs_ns.copr_add_build_upload', username = copr.owner.name, coprname = copr.name) %}
{% endif %}


<ul class="nav nav-tabs nav-tabs-pf">
  {{ nav_element("url", "From URLs", url_add_build_url) }}
  {{ nav_element("upload", "From URLs", url_add_build_upload) }}
</ul>

{% block build_form %}{% endblock %}

{% endblock %}
