{% extends "coprs/detail.html" %}
{% from "coprs/detail/_package_forms.html" import copr_package_form_tito, copr_package_form_mock with context %}

{% block title %}New package in {{ copr.owner.name }}/{{ copr.name }}{% endblock %}
{% set selected_tab = "packages" %}
{%block project_breadcrumb %}
  <li><a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages</a></li>
  <li class="active">New</li>
{%endblock%}

{% block detail_body %}

<h2>Add Package</h2>

<p>You can choose and configure <b>exactly one</b> default source for the {{ package.name }} package.</p>

{% macro badge(source_type) %}
  {% if package.source_type_text == source_type %}
    <span class="badge"><span class="fa fa-check"></span></span>
  {% endif %}
{% endmacro %}

<div class="clearfix">
  <h3>Tito {{ badge('git_and_tito') }}</h3>
  {{ copr_package_form_tito(form_tito, view, copr, package) }}
</div>

<hr>

<div class="clearfix">
  <h3>Mock {{ badge('mock_scm') }}</h3>
  {{ copr_package_form_mock(form_mock, view, copr, package) }}
</div>

{% endblock %}