{% extends "coprs/detail.html" %}
{% from "_helpers.html" import copr_name %}
{% from "coprs/detail/_package_helpers.html" import show_navigation, show_package_form with context %}

{% block title %}New package in {{ copr_name(copr) }}{% endblock %}
{% set selected_tab = "packages" %}
{%block project_breadcrumb %}
  <li><a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages</a></li>
  <li class="active">New</li>
{%endblock%}

{% block detail_body %}

<h2 class="page-title">New Package</h2>


{#
<p>In this view, you can create package entities for this Copr repository. Such a package can have predefined default
source and can be automatically build from it via webhook. If you just want to build a package from SRPM, please
create a <a href="{{ copr_url('coprs_ns.copr_add_build', copr) }}">New Build</a>.
</p>
<p>You can choose and configure <b>exactly one</b> default source for the {{ package.name }} package.</p>
#}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. Select the source type - <a href="https://fedorahosted.org/copr/wiki/UserDocs#BuildSourceTypes">Learn More</a></h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs nav-tabs-pf">
      {{ show_navigation(copr, 'coprs_ns.copr_add_package') }}
    </ul>
  </div>
</div>


    {{ show_package_form(source_type_text, package) }}




{% endblock %}
