{% extends "coprs/detail.html" %}
{% from "_helpers.html" import nav_element, copr_url %}
{% block title %}Adding Build for {{ copr.owner.name }}/{{ copr.name }}{% endblock %}

{% set selected_tab = "builds" %}

{%block project_breadcrumb %}
  {% if package %}
    <li><a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages</a></li>
    <li><a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a></li>
    <li><a href="{{ copr_url('coprs_ns.copr_rebuild_package', copr, package_name=package.name) }}">Rebuild</a></li>
  {% else %}
    <li><a href="{{ copr_url('coprs_ns.copr_builds', copr) }}">Builds</a></li>
    <li>New Build</li>
  {% endif %}
{%endblock%}

{% block detail_body %}

{% macro nav_element(tab_name, tab_title, href) %}
<li class="{% if add_build_tab == tab_name %}active{% endif %}">
  <a href="{{ href }}">
    {{ tab_title }}
  </a>
</li>
{% endmacro %}

<h2 class="build-detail"> New Build </h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. Select the source type - <a href="https://fedorahosted.org/copr/wiki/UserDocs#BuildSourceTypes">Learn More</a></h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs nav-tabs-pf">
      {{ nav_element("url", "From URLs", copr_url('coprs_ns.copr_add_build', copr)) }}
      {{ nav_element("upload", "Upload SRPM", copr_url('coprs_ns.copr_add_build_upload', copr)) }}
      {{ nav_element("tito", "Tito", copr_url('coprs_ns.copr_add_build_tito', copr)) }}
      {{ nav_element("mock", "Mock SCM", copr_url('coprs_ns.copr_add_build_mock', copr)) }}
    </ul>
  </div>
</div>

{% block build_form %}{% endblock %}

{% endblock %}
