{% extends "coprs/detail.html" %}
{% block title %}Builds for {{ copr.full_name }}{% endblock %}

{% from "_helpers.html" import render_pagination %}
{% from "coprs/detail/_builds_table.html" import builds_table with context %}
{% from "coprs/detail/_build_states.html" import build_states %}
{% from "coprs/detail/_builds_forms.html" import copr_delete_builds %}

{% set selected_tab = "builds" %}

{%block project_breadcrumb %}
<li class="active">
  Builds
</li>
{%endblock%}

{% block detail_body %}
{% if g.user and g.user.can_build_in(copr) %}
  <a class="btn btn-primary button-new pull-right" style="margin-left:5px" href="{{ copr_url('coprs_ns.copr_add_build', copr) }}">
    <span class="pficon pficon-add-circle-o"></span> New Build
  </a>
  {% if builds %}
    {{ copr_delete_builds(copr, class="pull-right button-build-action") }}
  {% endif %}
{% endif %}

<h2 class="page-title">Project Builds</h2>
  {% if copr.dirs|length > 1 %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn-group" role="group">
        <a href="{{ copr_url('coprs_ns.copr_builds', copr) }}" class="btn btn-default btn-sm {% if not current_dirname %}active{% endif %}">
          all builds
        </a>
        {% for copr_dir in copr.dirs|sort(attribute='name') %}
          {% if copr_dir.main or (copr_dir.packages | count) > 0 %}
            <a href="{{ copr_url('coprs_ns.copr_builds', copr) }}?dirname={{ copr_dir.name }}" class="btn btn-default btn-sm {% if current_dirname == copr_dir.name %}active{% endif %}">
              {{ copr_dir.name }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if builds %}
    {{ builds_table(builds) }}
    {{ build_states() }}
  {% else %}
  <div class="blank-slate-pf">
    {% if not current_dirname %}
    <div class="blank-slate-pf-icon">
      <span class="pficon pficon pficon-add-circle-o"></span>
    </div>
    <h1>
      No Builds in This Project
    </h1>
    <p>
      Click on the New Build button to submit your first build.
    </p>
    <p>
      You can also set up <strong>automatic builds</strong> directly from your git. This can be done on the <a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages view</a>.
    </p>
    {% if g.user and g.user.can_build_in(copr) %}
    <div class="blank-slate-pf-main-action">
      <a class="btn btn-primary btn-lg" href="{{ copr_url('coprs_ns.copr_add_build', copr) }}"> Submit a New Build </a>
    </div>
    {% endif %}
    {% else %}
    <h1>
      No builds in this project directory.
    </h1>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
