{% extends "coprs/detail.html" %}
{% block title %}Builds for {{ copr.full_name }}{% endblock %}

{% from "_helpers.html" import render_pagination %}
{% from "coprs/detail/_builds_table.html" import builds_table with context %}
{% from "coprs/detail/_build_states.html" import build_states %}

{% set selected_tab = "builds" %}

{%block project_breadcrumb %}
<li class="active">
  Builds
</li>
{%endblock%}

{% block detail_body %}
{% if g.user and g.user.can_build_in(copr) %}
  <a class="btn btn-primary button-new pull-right" href="{{ copr_url('coprs_ns.copr_add_build', copr) }}"><span class="pficon pficon-add-circle-o"></span> New Build</a>
{% endif %}

<h2>Project Builds</h2>

  {{ builds_table(builds) }}
  {{ build_states() }}
{% endblock %}
