{% extends "coprs/detail.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_cancel_form, copr_build_repeat_form, copr_build_delete_form %}
{% block title %}Build {{ build.id }} in {{ build.copr.owner.name }}/{{ build.copr.name }}{% endblock %}

{% block detail_body %}

{% if build.copr != copr %}
<h2 class="build-detail"> Build {{ build.id }} doesn't belong to this project. </h2>
<p> You can go to <a href="{{url_for("coprs_ns.copr_build", username = build.copr.owner.name, coprname = build.copr.name, build_id = build.id)}}"> {{ build.copr.owner.name }}/{{ build.copr.name }}/build/{{build.id}} </a>to see this build. </p>


{% else %}
    <h2 class="build-detail" alt="{{build.state|build_state_description}}"> 
        <b>Build {{ build.id }}:</b>
        <span class="build-{{build.state}}"> {{ build.state }} </span>
         - {{build.pkgs|basename}}
    </h2>

    <div class="build-buttons" >
    {% if g.user and g.user.can_build_in(copr) %}
        {{ copr_build_cancel_form(build, page) }}
        {{ copr_build_repeat_form(build, page) }}
        {% if g.user.can_edit(copr) or build.user == g.user %}
            {{ copr_build_delete_form(build, page) }}
        {% endif %}
    {% endif %}
    </div>

    <dl class="aligned" >
        <div>
            <dt> Results:</dt>
                {% if build.results %}
                    <dd><a href="{{ build.results }}">{{ build.results }}</a></dd>
                {% else %}
                    <dd>No results yet</dd>
                {% endif %}
        </div>
        <div>
            <dt class="oneline"> Name:</dt>
                {% if build.pkg_name %}
                    <dd>{{ build.pkg_name }}</dd>
                {% else %}
                    <dd>{{ build.pkgs|pkg_name }}</dd>
                {% endif %}


            <dt class="oneline"> Version:</dt>
                {% if build.pkg_version %}
                    <dd>{{ build.pkg_version }}</dd>
                {% else %}
                    <dd> - </dd>
                {% endif %}
        </div>
        <div>
            <dt> Chroots:</dt>
                {% for chroot in build.build_chroots %} <tr>
                    <dd>
                        {{ chroot.name }}: 
                        <span class="build-{{chroot.state}}" 
                              alt="{{chroot.state|build_state_description}}">
                            {{ chroot.state }}
                        </span>
                    </dd>
                {% endfor %}
        </div>
        <div>
            <dt class="oneline"> Submitted: </dt>
                <dd>
                    {% if g.user %}
                        {{ build.submitted_on|localized_time(g.user.timezone) }}
                    {% else %}
                        {{ build.submitted_on|localized_time("UTC") }}
                    {% endif %}
                    ({{ build.submitted_on|time_ago }} ago)
                </dd>


            <dt class="oneline"> Started: </dt>
                <dd>
                    {% if g.user %}
                        {{ build.started_on|localized_time(g.user.timezone) }}
                    {% else %}
                        {{ build.started_on|localized_time("UTC") }}
                    {% endif %}
                </dd>


            <dt class="oneline"> Finished: </dt>
                <dd>
                    {% if g.user %}
                        {{ build.ended_on|localized_time(g.user.timezone) }}
                    {% else %}
                        {{ build.ended_on|localized_time("UTC") }}
                    {% endif %}
                </dd>


            <dt class="oneline"> Build time: </dt>
                <dd>
                    {{ build.started_on|time_ago(build.ended_on) }}
                </dd>
        </div>
        <div>
            <dt> Source: </dt>
                <dd>
                    {% if build.pkgs is not none %}
                        {% for pkg in build.pkgs.split() %}
                            <dd> <a href="{{ pkg }}">{{ pkg }}</a></dd>
                        {% endfor %}
                    {% endif %}
                </dd>
        </div>
        <div>
            <dt class="oneline"> Submitted by: </dt>
                <dd>
                    {{ build.user.name }}
                </dd>
        </div>
    </dl>
    

{% endif %}
{% endblock %}
