{% extends "coprs/detail.html" %}
{% from "_helpers.html" import render_field %}
{% block title %}Editing {{ copr.owner.name }}/{{ copr.name }}/{{ chroot.name }}{% endblock %}

{% block detail_body %}
  <h2>Edit chroot '{{ chroot.name }}'</h2>
  <p> You can add additional packages to the minimal buildroot of this chroot. These packages will be always present before the build starts. </p>
  <form action="{{ url_for('coprs_ns.chroot_update', username = copr.owner.name, coprname = copr.name, chrootname = chroot.name) }}" method="post" class="form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.buildroot_pkgs, size=80, placeholder='Space separated list of packages. E.g.: scl-utils-build ruby193-build') }}
    <input class="btn btn-primary" type="submit" value="Update">
    <a class="btn btn-default" href="{{ url_for('coprs_ns.copr_edit', username = copr.owner.name, coprname = copr.name) }}">Cancel</a>
  </form>


{% endblock %}
