{% extends "coprs/detail.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_cancel_form, copr_build_repeat_form, copr_build_delete_form %}
{% from "coprs/detail/_describe_source.html" import describe_source %}
{% from "coprs/detail/_describe_failure.html" import describe_failure %}
{% from "coprs/detail/_builds_table.html" import builds_table with context %}
{% from "_helpers.html" import chroot_to_os_logo, build_state_text, build_state, copr_name %}
{% block title %}Module {{ module.id }} in {{ copr_name(copr) }}{% endblock %}

{% set selected_tab = "modules" %}

{%block project_breadcrumb %}
<li>
    <a href="">Modules</a>
</li>
<li class="active">
    {{ module.id }}
</li>
{%endblock%}

{% block detail_body %}

{% if copr.id != module.copr.id %}
  <h2 class="build-detail"> Module {{ module.id }} doesn't belong to this project. </h2>
  <p> It belongs to {{ module.ownername }}/{{ module.projectname }} </p>
{% else %}

<h2 class="page-title">Module #{{ module.id }} </h2>

<div class="row">


  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">General Information</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd>{{ module.name }}</dd>

          <dt>Stream:</dt>
          <dd>{{ module.stream }}</dd>

          <dt>Version:</dt>
          <dd>{{ module.version }}</dd>

          <dt>License:</dt>
          <dd></dd>

          <dt>Summary:</dt>
          <dd>{{ module.summary }}</dd>
        </dl>
      </div>
    </div>
  </div>

  {% set no_packages = 'No packages in module\'s %s' %}

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for package in module.rpm_filter %}
            <li>{{ package }}</li>
          {% else %}
            <p>{{ no_packages | format('filter')}}</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">API</h3>
      </div>
      <div class="panel-body">
        <ul>
        {% for package in module.rpm_api %}
          <li>{{ package }}</li>
        {% else %}
          <p>{{ no_packages | format('API')}}</p>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profiles</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for name, packages in module.profiles.items() %}
            <li>{{ name }}</li>
            <ul>
              {% for package in packages %}
                <li>{{ package }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No profiles in module</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">How to use</h3>
      </div>
      <div class="panel-body">
        {% if module.state != 'succeeded' %}
          <div class="well well-lg">
            {% if module.state == 'failed' %}
              The module failed and therefore it cannot be enabled
            {% else %}
              The module is not built yet and therefore it cannot be enabled
            {% endif %}
          </div>
        {% else %}
        <p>
          To start using modules, you need to have DNF with modularity support. This is available out of the box
          on the <a href="https://getfedora.org/en/server/prerelease/">Fedora Modular Server</a>, but on regular releases you need to install such DNF from Copr.
        </p>
        <div class="highlight autumn">
          <pre>dnf copr enable mhatina/dnf-modularity-stable
dnf upgrade dnf</pre>
        </div>

        <p>Now to install the built module, please run following commands as root:</p>
        <div class="highlight autumn">
          <pre><span class="c1"># Add module repofile to your system</span>
dnf copr enable {{ module.copr.full_name }}

<span class="c1"># Install the module</span>
dnf module enable {{ module.name}}:{{ module.stream }}
dnf module install {{ module.name }}/default</pre>

        </div>

        <p>For <code>dnf module</code> documentation, see the "Module Command" section in <code>man dnf</code>.

        <hr>
        Repofiles:
        {% for chroot in unique_chroots  %}
          <a href="{{ copr_url('coprs_ns.generate_module_repo_file', copr, name_release=chroot.name_release, module_nsv=module.nsv) }}" class="btn btn-default"><span class="pficon pficon-save"></span> {{ chroot.name_release }}</a>
        {% endfor %}

        {% endif %}
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <a href="{{ copr_url('coprs_ns.copr_module_raw', copr, id=module.id) }}" class="btn btn-default pull-right"><span class="pficon pficon-save"></span> Raw</a>
        <h3 class="panel-title">Modulemd</h3>
      </div>
      <div class="panel-body">
        <p class="text-muted"><span class="pficon pficon-info"></span> You may want to use this modulemd as a template and then submit it via Copr API or <code>copr-cli</code> to be build.</p>
        {{ yaml | safe }}
      </div>
    </div>

    {{builds_table(module.builds)}}
  </div>

</div>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pygments-autumn.css') }}"/>

{% endif %}
{% endblock %}
