{% extends "coprs/detail.html" %}
{% block title %}Modules for {{ copr.full_name }}{% endblock %}

{% from "coprs/detail/_modules_table.html" import modules_table with context %}
{% from "coprs/detail/_module_states.html" import module_states with context %}

{% set selected_tab = "modules" %}

{%block project_breadcrumb %}
<li class="active">
    Modules
</li>
{%endblock%}

{% block detail_body %}
{% if g.user and g.user.can_build_in(copr) %}
<a class="btn btn-primary button-new pull-right" href="{{ copr_url('coprs_ns.copr_create_module', copr) }}"><span class="pficon pficon-add-circle-o"></span> New Module</a>
{% endif %}

<h2 class="page-title">Project Modules</h2>
{% if modules %}
{{ modules_table(modules) }}
{{ module_states() }}
{% else %}
<div class="blank-slate-pf">
    <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
    </div>
    <h1>
        No Modules in This Project
    </h1>
    <p>
        Click on the New Module button to build your first module.
    </p>
    {% if g.user and g.user.can_build_in(copr) %}
    <div class="blank-slate-pf-main-action">
        <a class="btn btn-primary btn-lg" href="{{ copr_url('coprs_ns.copr_create_module', copr) }}"> Create a New Module </a>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
