{% extends "coprs/detail.html" %}
{% from "coprs/detail/_builds_forms.html" import copr_build_cancel_form, copr_build_repeat_form, copr_build_delete_form %}
{% from "coprs/detail/_describe_source.html" import describe_source %}
{% from "coprs/detail/_describe_failure.html" import describe_failure %}
{% from "_helpers.html" import chroot_to_os_logo, build_state_text, build_state, copr_name %}
{% block title %}Module {{ module.id }} in {{ copr_name(copr) }}{% endblock %}

{% set selected_tab = "modules" %}

{%block project_breadcrumb %}
<li>
    <a href="">Modules</a>
</li>
<li class="active">
    {{ module.id }}
</li>
{%endblock%}

{% block detail_body %}

{% if copr.owner_name != module.ownername or copr.name != module.projectname %}
  <h2 class="build-detail"> Module {{ module.id }} doesn't belong to this project. </h2>
  <p> It belongs to {{ module.ownername }}/{{ module.projectname }} </p>
{% else %}

<h2 class="page-title">Module #{{ module.id }} </h2>

<div class="row">


  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">General Information</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd>{{ module.name }}</dd>

          <dt>Version:</dt>
          <dd>{{ module.version }}</dd>

          <dt>Release:</dt>
          <dd>{{ module.release }}</dd>

          <dt>License:</dt>
          <dd></dd>

          <dt>Summary:</dt>
          <dd>{{ module.summary }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for package in module.modulemd.components.rpms.filter %}
            <li>{{ package }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">API</h3>
      </div>
      <div class="panel-body">
        <ul>
        {% for package in module.modulemd.components.rpms.api %}
          <li>{{ package }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profiles</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for name, profile in module.modulemd.profiles.items() %}
            <li>{{ name }}</li>
            <ul>
              {% for package in profile.rpms %}
                <li>{{ package }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">How to use</h3>
      </div>
      <div class="panel-body">
        <p>First, see the documentation for <code>copr module</code> command on it's <a href="https://pagure.io/fm-dnf-plugin">project page</a>.<br>
        To install this module, please run following commands as root:</p>

        <div class="highlight autumn">

          <pre><span class="c1"># Add module repofile to your system (this will be automated by dnf in the future)</span>
wget {{ copr_url('coprs_ns.generate_module_repo_file', copr, _external=True) }} -O <span class="se">\</span>
     /etc/fm.modules.d/_copr_{{ module.full_name }}-{{ module.id }}.cfg

<span class="c1"># Install the module</span>
dnf module <span class="nb">enable</span> {{ module.name }}</pre>

        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <a href="{{ copr_url('coprs_ns.copr_module_raw', copr, id=module.id) }}" class="btn btn-default pull-right"><span class="pficon pficon-save"></span> Raw</a>
        <h3 class="panel-title">Modulemd</h3>
      </div>
      <div class="panel-body">
        {{ yaml | safe }}
      </div>
    </div>
  </div>


</div>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pygments-autumn.css') }}"/>

{% endif %}
{% endblock %}
