{% extends "coprs/detail.html" %}
{% from "coprs/detail/_build_states.html" import build_states %}
{% block title %}Monitor {{ copr.owner.name }}/{{ copr.name }}{% endblock %}

{% set selected_tab = "monitor" %}

{%block project_breadcrumb %}
<li>
  <a href="{{ url_for('coprs_ns.copr_build_monitor', username = copr.owner.name, coprname = copr.name) }}">
    Monitor
  </a>
  {% block project_breadcrumb_monitor %}
  {%endblock%}
</li>
{%endblock%}

{% block detail_body %}
<ul class="nav nav-tabs nav-tabs-pf">
  <li class="{% block monitor_simple_selected %}{% endblock %}">
    <a href="{{ url_for('coprs_ns.copr_build_monitor', username = copr.owner.name, coprname = copr.name) }}">
        Simple
    </a>
  </li>
  <li class="{% block monitor_detailed_selected %}{% endblock %}">
    <a href="{{ url_for('coprs_ns.copr_build_monitor_detailed', username = copr.owner.name, coprname = copr.name) }}">
        Detailed
    </a>
  </li>
</ul>

{% block monitor_table %}{% endblock %}

{{ build_states() }}
{% endblock %}
