{% extends "coprs/detail.html" %}
{% from "_helpers.html" import copr_name %}
{% from "coprs/detail/_package_helpers.html" import show_navigation, show_package_form with context %}

{% block title %}Package {{ package.name }} in {{ copr_name(package.copr) }}{% endblock %}
{% set selected_tab = "packages" %}
{%block project_breadcrumb %}
  <li><a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages</a></li>
  <li><a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a></li>
  <li class="active">Edit</li>
{%endblock%}

{% block detail_body %}

<h2> Package: <a href="{{ copr_url('coprs_ns.copr_package', copr, package_name=package.name) }}">{{ package.name }}</a></h2>

<p>You can choose and configure <b>exactly one</b> default source for the {{ package.name }} package.</p>

{{ show_navigation(copr, 'coprs_ns.copr_edit_package', package_name=package.name) }}
{{ show_package_form(source_type, package) }}

{% endblock %}
