{% extends "coprs/detail.html" %}
{% from "_helpers.html" import render_pagination, copr_name %}
{% from "coprs/detail/_packages_table.html" import packages_table with context %}
{% from "coprs/detail/_build_states.html" import build_states %}

{% block title %}Packages for {{ copr_name(copr) }}{% endblock %}
{% set selected_tab = "packages" %}

{%block project_breadcrumb %}
<li class="active">
  Packages
</li>
{%endblock%}

{% block detail_body %}
{% if g.user and g.user.can_edit(copr) %}
  <a class="btn btn-primary button-new pull-right" href="{{ copr_url('coprs_ns.copr_add_package', copr) }}"><span class="pficon pficon-add-circle-o"></span> New package </a>
{% endif %}
<h2 class="page-title">Project Packages</h2>


{{ packages_table(packages) }}
{{ build_states() }}

{% endblock %}
