{% extends "coprs/detail.html" %}
{% from "_helpers.html" import copr_url %}
{% from "coprs/detail/_describe_source.html" import describe_source %}
{% from "coprs/detail/_builds_table.html" import builds_table with context %}

{% block title %}Package {{ package.name }} in {{ package.copr.owner.name }}/{{ package.copr.name }}{% endblock %}
{% set selected_tab = "packages" %}
{%block project_breadcrumb %}

<li>
  <a href="{{ copr_url('coprs_ns.copr_packages', copr) }}">Packages</a>
</li>

<li class="active">
  {{package.name}}
</li>
{%endblock%}

{% block detail_body %}

{% if g.user and g.user.can_edit(copr) %}
<a class="btn btn-default pull-right button-build-action" href="{{ copr_url('coprs_ns.copr_rebuild_package', copr, package_name=package.name) }}">
  <span class="pficon pficon-restart"></span> Rebuild
</a>
{% endif %}

<h2 class="page-title"> Package: {{ package.name }} </h2>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">General Information</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          {% if package.dist_git_url %}
          <dt> Dist Git Repo:</dt>
          <dd>
            <a href="{{package.dist_git_url}}">
            {{package.dist_git_repo}}
            </a>
          </dd>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading clearfix panel-heading-buttons">
        <h3 class="panel-title pull-left">Default Build Source</h3>
        {% if g.user and g.user.can_edit(copr) %}
        <div class="btn-group pull-right">
          <a class="btn btn-default btn-sm" href="{{ copr_url('coprs_ns.copr_edit_package', copr, package_name=package.name) }}">
            <span class="pficon pficon-edit"></span> Edit
          </a>
        </div>
        {% endif %}
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dd>
            {{ describe_source(package) }}
          </dd>
        </dl>
      </div>
    </div>

    {{builds_table(package.builds)}}

  </div>
</div>

{% endblock %}
