{% extends "coprs/detail.html" %}
{% from "coprs/detail/_package_forms.html" import copr_package_form_tito, copr_package_form_mock with context %}

{% block title %}Package {{ package.name }} in {{ package.copr.owner.name }}/{{ package.copr.name }}{% endblock %}

{% block detail_body %}

<h2> Package: {{ package.name }} </h2>

<p>You can choose and configure <b>exactly one</b> default source for the {{ package.name }} package.</p>

<div class="clearfix">
  <h3>Tito</h3>
  {{ copr_package_form_tito(form_tito, 'coprs_ns.copr_package_edit_post', copr, package) }}
</div>

<hr>

<div class="clearfix">
  <h3>Mock</h3>
  {{ copr_package_form_mock(form_mock, 'coprs_ns.copr_package_edit_post', copr, package) }}
</div>

{% endblock %}
