{% extends "coprs/detail.html" %}
{% block title %}Packages for {{ copr.owner.name }}/{{ copr.name }}{% endblock %}
{% block packages_selected %}active{% endblock %}
{% from "_helpers.html" import render_pagination %}
{% from "coprs/detail/_packages_table.html" import packages_table with context %}
{%block project_breadcrumb %}
<li class="active">
  Packages
</li>
{%endblock%}

{% block detail_body %}
<h2>Project Packages</h2>
<p>This view shows all packages in the project</p>
  {{ packages_table(packages) }}
{% endblock %}
