{% extends "coprs/detail.html" %}
{% block title %}Settings {{ copr.owner.name }}/{{ copr.name }}{% endblock %}

{% set selected_tab = "settings" %}


{% macro tab(tab_name, tab_title, href) %}
<li class="{% if selected_monitor_tab == tab_name %}active{% endif %}">
  <a href="{{ href }}">
    {{ tab_title }}
  </a>
</li>
{% endmacro %}


{% block detail_body %}

<ul class="nav nav-tabs nav-tabs-pf">
  {{ tab("edit", "Edit", copr_url('coprs_ns.copr_edit', copr)) }}
  {{ tab("webhooks", "Webhooks", copr_url('coprs_ns.copr_webhooks', copr)) }}
  {{ tab("delete", "Delete", copr_url('coprs_ns.copr_delete', copr)) }}
</ul>

{% block tab_content %}{% endblock %}

{% endblock %}
