---
- name: Generate the private key for the self-signed CA
  community.crypto.openssl_privatekey:
    path: "/root/self-signed-ca.key"
    size: 4096
    type: RSA
    mode: '0600'
    owner: root
  register: ca_key_status

- name: CSR for the CA
  community.crypto.openssl_csr:
    path: /root/self-signed-ca.csr
    privatekey_path: "{{ ca_key_status.filename }}"
    common_name: "Internal Copr CA"
    basic_constraints:
      - "CA:TRUE"
    basic_constraints_critical: true
    key_usage:
      - "keyCertSign"
      - "cRLSign"
  register: ca_csr_status

- name: Generate a self-signed CA
  community.crypto.x509_certificate:
    path: /root/self-signed-ca.crt
    privatekey_path: "{{ ca_key_status.filename }}"
    csr_path: "{{ ca_csr_status.filename }}"
    provider: selfsigned
  register: ca_crt_status

- name: generate a private server key
  community.crypto.openssl_privatekey:
    path: "/root/self-signed.key"
    size: 4096
    type: RSA
    mode: '0600'
    owner: root
  register: key_status

- name: Generate Certificate Signing Request (CSR) with CA Constraints
  community.crypto.openssl_csr:
    path: "/root/copr.csr"
    privatekey_path: "{{ key_status.filename }}"
    basic_constraints:
      - CA:FALSE
    basic_constraints_critical: true
    key_usage:
      - digitalSignature
      - keyEncipherment
    extended_key_usage:
      - serverAuth
    subject_alt_name:
      # Required for connecting via hostname 'localhost'
      - 'DNS:localhost'
      # Recommended for loopbacks
      - 'IP:127.0.0.1'
      # External connections.  In TF, ansible_host is root@18.222.223.205, hence
      # the regexp.
      - 'DNS:{{ frontend_hostname }}'
      - 'IP:{{ frontend_hostname }}'  # also as IP
    common_name: "localhost"
    organization_name: "on"
    country_name: US
  register: server_csr_status

- name: Generate the certificate signed by our CA
  community.crypto.x509_certificate:
    path: /root/copr.pem
    privatekey_path: "{{ key_status.filename }}"
    provider: ownca
    ownca_path: "{{ ca_crt_status.filename }}"
    ownca_privatekey_path: "{{ ca_key_status.filename }}"
    csr_path: "{{ server_csr_status.filename }}"

- name: Check be-fe token file
  stat:
    path: "{{ item.path }}"
  loop:
    - name: be-fe token
      path: /root/be-fe-token
    - name: postgresql password
      path: /root/fe-postgres-password
  register: stat_result

- name: 'Generate secure token: {{ item.item.name }}'
  copy:
    content: "{{ lookup('ansible.builtin.password', '/dev/null', length=32, chars=['ascii_letters', 'digits']) }}"
    dest: "{{ item.item.path }}"
    mode: "0400"
  no_log: true
  when: not item.stat.exists
  loop: "{{ stat_result.results }}"

- name: generate backend -> builder keypair
  community.crypto.openssh_keypair:
    path: /root/backend_builder
    type: ed25519
    comment: "Backend -> Builder key"
    mode: '0600'
