[dist-git]

# default is http://coprs/rest/api
frontend_base_url=http://copr-fe-dev.cloud.fedoraproject.org

# must have same value as BACKEND_PASSWORD from have frontend in /etc/copr/copr.conf
# default is PASSWORDHERE but you really should change it. really.
frontend_auth=backend_password_from_fe_config

log_dir=/tmp/copr-dist-git

per_task_log_dir=/var/lib/copr-dist-git/per-task-logs/

# which chroot to use for mock-scm builds
mock_scm_chroot=fedora-rawhide-x86_64
