<% my %p = @_; %>
include('/etc/mock/<%= $p{chroot} %>.cfg')

config_opts['root'] = '<%= $p{task_id} %>'

<% if ($p{buildroot_pkgs}) { %>
config_opts['chroot_additional_packages'] = '<%= join(" ", @{$p{buildroot_pkgs}}) %>'
<% } %>

config_opts['use_host_resolv'] = <%= $p{enable_net} ? 'True' : 'False' %>
config_opts['use_bootstrap_container'] = <%= $p{use_bootstrap_container} ? 'True' : 'False' %>

<% if ($p{repos}) { %>
<% my @repos_arr = @{$p{repos}} %>
config_opts['yum.conf'] += """
<% foreach my $repo (@repos_arr) { %>
[<%= $repo->{id} %>]
name="<%= $repo->{name} %>"
baseurl=<%= $repo->{url} %>
gpgcheck=0
enabled=1
skip_if_unavailable=1
metadata_expire=0
cost=1
best=1
<% } %>
"""
<% } %>
