include('/etc/mock/{{ chroot }}.cfg')

{% if buildroot_pkgs %}
config_opts['chroot_additional_packages'] = '{{ buildroot_pkgs| join(" ") }}'
{% endif %}
config_opts['macros']['%vendor'] = '{{ vendor }}'
{% if enable_net %}
config_opts['rpmbuild_networking'] = True
config_opts['use_host_resolv'] = True
{% else %}
config_opts['rpmbuild_networking'] = False
config_opts['use_host_resolv'] = False
{% endif %}
{%- if isolation == "default" %}
config_opts['isolation'] = 'auto'
{%- elif isolation %}
config_opts['isolation'] = '{{ isolation }}'
{%- endif %}

config_opts['macros']['%copr_username'] = '{{ copr_username }}'
config_opts['macros']['%copr_projectname'] = '{{ copr_projectname }}'
# Build-system's (or build) ID
config_opts['macros']['%buildtag'] = '.copr{{ copr_build_id }}'

{%- if bootstrap == "on" %}
config_opts['use_bootstrap'] = True
config_opts['use_bootstrap_image'] = False
{%- elif bootstrap == "off" %}
config_opts['use_bootstrap'] = False
config_opts['use_bootstrap_image'] = False
{%- elif bootstrap in ["image", "custom_image"] %}
config_opts['use_bootstrap'] = True
config_opts['use_bootstrap_image'] = True
{%- if bootstrap_image %}
config_opts['bootstrap_image'] = "{{ bootstrap_image }}"
{%- endif %}
{%- endif %}
{% for module in modules %}
config_opts["module_enable"] += ["{{ module }}"]
{%- endfor %}
{% if repos %}
config_opts[f"{config_opts.package_manager}.conf"] += """
{% for repo in repos %}
[{{ repo["id"] }}]
name='{{ repo["name"] }}'
baseurl={{ repo["baseurl"] }}
gpgcheck=0
enabled=1
{%- if repo['id'] == 'copr_base_devel' %}
skip_if_unavailable=1
{%- else %}
skip_if_unavailable=0
{%- endif %}
metadata_expire=0
cost=1
best=1

{%- if "priority" in repo %}
priority={{ repo["priority"] }}
{%- endif %}

{%- if "module_hotfixes" in repo %}
module_hotfixes={{ repo["module_hotfixes"] }}
{% endif -%}

{% endfor %}
"""
{% endif %}
