{% extends "coprs/detail/settings.html" %}

{% set selected_monitor_tab = "webhooks" %}
{%block settings_breadcrumb %}Webhooks{% endblock %}

{% block tab_content %}

<div class="row">
    <div class="col-sm-8 col-md-9">
        <h2> Webhooks </h2>
        <p>You can set up automatic builds of your packages coming from Pagure and Github repositories.</p>

        <ol>
          <li> Set a default source of a package in this project. </li>
          <li> Enable automatic rebuilds for the package. </li>
          <li> Finish it by following the SCM host specific guide below. </li>
        </ol>

        <p> Copr will now rebuild the package every time it receives the webhook
            call - usually with every commit or every tag. </p>

        <h3>Pagure</h3>
        <h4> How to use it: </h4>
        <ol>
          <li>Activate Fedmsg in section 'Hooks' in the project settings.</li>
          <li>That's it.</li>
        </ol>

        <p>Note, don’t get confused by “Activate fedmsg notifications” in the “Project options” section; that’s only for Pagure UI-related actions.  Scroll down until you reach the “Hooks” section.</p>

        <h3> Github </h3>
        <div class="well well-sm">
            {{ github_url }}
        </div>
        <h4> How to use it: </h4>
        <ol>
          <li> In your GitHub project, go to <code>Settings</code> / <code>Webhooks and services</code>. </li>
          <li> Click on the <code>Add webhook</code> button. </li>
          <li> Fill in the <code>Payload URL</code> field with the url above. </li>
          <li> Select <code>application/json</code> as the content type. </li>
          <li> Click the <code>Add webhook</code> button. </li>
        </ol>

        <h3> Gitlab </h3>
        <div class="well well-sm">
            {{ gitlab_url }}
        </div>
        <h4> How to use it: </h4>
        <ol>
          <li> In your Gitlab project, go to <code>Settings</code> / <code>Integrations</code>. </li>
          <li> Fill in the <code>URL</code> field with the url above. </li>
          <li> Select <code>Push events</code> and <code>Tag push events</code> as event triggers. </li>
          <li> Click the <code>Add webhook</code> button. </li>
        </ol>

        <h3> Bitbucket </h3>
        <div class="well well-sm">
            {{ bitbucket_url }}
        </div>
        <h4> How to use it: </h4>
        <ol>
          <li> In your Bitbucket project, go to <code>Settings</code> / <code>Workflow</code> / <code>Webhooks</code> / <code>Add webhook</code>. </li>
          <li> Name the hook, e.g., “Copr”.
          <li> Fill in the <code>URL</code> field with the url above. </li>
          <li> Select to trigger on <code>Repository Push</code>. </li>
          <li> Click the <code>Save</code> button. </li>
        </ol>

        <h3> Custom webhook </h3>
        <div class="well well-sm">
            {{ custom_url }}
        </div>
        <h4> How to use it: </h4>
        <p> Use the GitLab/GitHub steps above (when needed), or simply </p>
        <p>
          <div class="well well-sm">
            $ curl -X POST {{ custom_url }}
          </div>
          Note that the package of name 'PACKAGE_NAME' must exist within this
          project, and that the 'POST' http method must be specified.
        </p>
    </div>
</div>

{% endblock %}
