{% extends "coprs/detail/settings.html" %}

{% set selected_monitor_tab = "webhooks" %}
{%block settings_breadcrumb %}Webhooks{% endblock %}

{% block tab_content %}

<div class="row">
    <div class="col-sm-8 col-md-9">
        <h2> Webhooks </h2>
        <p>You can set up automatic builds of your packages coming from Pagure and Github repositories.</p>

        <h3>How does it work for Pagure repositories</h3>
        <ol>
          <li>Activate Fedmsg in section 'Hooks' in the project settings.</li>
        </ol>

        <h3> How does it work for Github repositories</h3>

        <ol>
          <li> Set a default source of a package in this project. </li>
          <li> Enable automatic rebuilds for the package. </li>
          <li> Use the webhook URL from this project in your Git (see below). </li>
        </ol>
        <p> Copr will now rebuild the package every time it receives the webhook
            call - usually with every commit or every tag. </p>

        <h4> Webhook URL for GitHub </h4>
        <div class="well well-sm">
            {{ github_url }}
        </div>
        <h4> How to use it: </h4>
        <ol>
          <li> In your GitHub project, go to <code>Settings</code> / <code>Webhooks and services</code>. </li>
          <li> Click on the <code>Add webhook</code> button. </li>
          <li> Fill in the <code>Payload URL</code> field with the url above. </li>
          <li> Select <code>application/json</code> as the content type. </li>
          <li> Click the <code>Add webhook</code> button. </li>
        </ol>
    </div>
</div>

{% endblock %}
