[Unit]
Description=Copr Backend service, Workers controller
After=syslog.target network.target auditd.service
Requires=copr-backend-vmm.service
Wants=copr-backend-log.service

[Service]
Type=simple
PIDFile=/var/run/copr-backend/copr-be.pid
Environment="PYTHONPATH=/usr/share/copr/"
User=copr
Group=copr
ExecStart=/usr/bin/copr_be.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
