[Unit]
Description=copr aux service to import srpm into dist-git
Requires=dist-git.socket redis.service
After=dist-git.socket redis.service
Wants=logrotate.timer

[Service]
User=copr-dist-git
Group=packager
AmbientCapabilities=CAP_SETGID
ExecStart=/usr/bin/copr-run-dispatcher imports

[Install]
WantedBy=multi-user.target
