[Unit]
Description=copr aux service to import srpm into dist-git
Requires=dist-git.socket
After=dist-git.socket
Wants=logrotate.timer

[Service]
User=copr-dist-git
Group=packager
AmbientCapabilities=CAP_SETGID
Environment="PYTHONPATH=/usr/share/copr/"
ExecStart=/usr/bin/python3 /usr/bin/importer_runner.py

[Install]
WantedBy=multi-user.target
