---
- name: Fetch the certificate file from the credentials host
  ansible.builtin.slurp:
    src: /root/self-signed-ca.crt
  register: cert_file
  delegate_to: "{{ host_with_secrets }}"

- name: Install self-signed-ca.crt as a trusted CA (RHEL/CentOS/Fedora)
  ansible.builtin.copy:
    content: "{{ cert_file['content'] | b64decode }}"
    dest: /etc/pki/ca-trust/source/anchors/copr.crt
    owner: root
    group: root
    mode: '0644'
  register: ca_trust

- name: Update CA Trust
  ansible.builtin.command: update-ca-trust extract
  when: ca_trust.changed
