---
name: Fedora Copr build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check modified subdirectories
    outputs:
      packages: ${{ steps.check_packages.outputs.packages }}

    steps:
      - name: Check out proper version of sources
        uses: actions/checkout@v6
        with:
          # reasonable number of commits in one push?
          fetch-depth: 50
          # By default, the action checkouts the merge commit, but these
          # checkouts are not stable across the PR lifecycle.  Even if the PR we
          # are analyzing remains unchanged, the merge of a different pull
          # request will cause the 'refs/pull/<analyzed-pr>/merge' reference to
          # be updated.  So rather enforce .head.sha that remains stable.
          ref: ${{ github.event.pull_request.head.sha }}

      - id: check_packages
        name: Detecting changed sub-packages
        run: |
          if test "$GITHUB_EVENT_NAME" == push; then
            export COMMIT_SHA=${{ github.event.before }}
          else
            export COMMIT_SHA=HEAD~${{ github.event.pull_request.commits }}
          fi
          echo "packages<<EOF" >> $GITHUB_OUTPUT
          ./.github/copr-build-helpers/changed-packages >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  build:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJSON(needs.check.outputs.packages)}}

    name: RPM package ${{ matrix.package }}

    steps:
      - name: Check out proper version of sources
        uses: actions/checkout@v6

      - name: Copr build ${{ matrix.package }}
        env:
          COPR_PR_WEBHOOK: https://copr.fedorainfracloud.org/webhooks/custom-dir/@copr/copr-pull-requests:pr:${{github.event.number}}/2a94f455-b4ac-467e-86e2-f4400ecd4450/${{ matrix.package }}/
          COPR_PUSH_WEBHOOK: ${{ secrets.COPR_PUSH_WEBHOOK }}/${{ matrix.package }}/
        run: |
          curl https://raw.githubusercontent.com/praiskup/copr-ci-tooling/main/copr-gh-actions-submit > submit
          bash submit ${{ github.event.pull_request.number }}
