name: "mypy check"
on: [pull_request]

jobs:

  static-type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - run: pip install mypy
    - name: Get Python changed files
      id: changed-py-files
      uses: tj-actions/changed-files@v23
      with:
        files: |
          *.py
          **/*.py

    - name: Run if any of the listed files above is changed
      if: steps.changed-py-files.outputs.any_changed == 'true'
      run: mypy ${{ steps.changed-py-files.outputs.all_changed_files}} --install-types --non-interactive
      continue-on-error: true

    - name: Set warning if previous step failed
      if: failure()
      # run: echo "::warning::The previous step failed but we are continuing."
      run: echo "::warning file=app.py,line=10,col=5::Code formatting issues detected"
